[2020-07-03 05:11] WillieWookiee commented on #365
@ntolia The easier way is to use a remote Redis server, but I understand what you are saying making it on a persistent disk.

[2020-07-03 17:27] ntolia commented on #365
Using a PVC makes the application self-contained and it should work on pretty much any distribution or machine (including your laptop) and without an external Internet connection and with hostpath provisioning. Should match @ahmetb's goal better but, even though I think my proposed change (https://github.com/kastenhq/microservices-demo/commit/1a272e75c09e98380b5c612e2f95105b9e12c512) is minimal, I

[2020-07-03 17:54] prune998 commented on #358
We forked the (old) hipstershop and put some huge changes in it. Like supporting Zipking and Jaeger.
I also re-wrote the `adservice` in Go, and added cool features like:

- it's talking HTTP
- you can add a start delay to simulate a slow starting service (only the /healthz endpoint reflect that)
- you can add a delay to the answer to simulate a busy service
- you can add a number of error 500 to r

[2020-07-06 16:25] WillieWookiee commented on #366
We will be presenting this in the next week or so, would it be possible to get this fixed?

[2020-07-06 16:42] ahmetb commented on #366
@WillieWookiee please `git checkout` an older tag if it's not working.

[2020-07-08 05:49] WillieWookiee commented on #366
@ahmetb You were right. The manifests I was using was from [here](https://github.com/GoogleCloudPlatform/anthos-sample-deployment/tree/master/config-repo/namespaces/onlineboutique) and they are out of date. I updated my config and it works. Will need to open an issue over on that repo to fix. This can be closed, although I would recommend adding a "latest" tag to the images in the gcr so that this

[2020-07-08 05:50] ahmetb commented on #366
I think adding a :latest tag is the wrong solution here.

Our release artifacts are in release/ dir and they have tagged images.

[2020-07-08 05:50] #366 closed

[2020-07-21 09:24] bluecodefish opened #372 "Problems with K8s/Kata-Containers"
I am trying to run the microservice-demo with containerd/kata-containers on an small k8s-Cluster. Unfortunately some of the Services keep crashing. With containerd/gVisor and containerd/runc everything was working. Any ideas? Kubectl logs just says: "Too many errors"

[2020-07-21 15:00] ahmetb commented on #372
Follow up with Kata maybe?

[2020-07-21 15:00] #372 closed

[2020-07-22 12:44] dhruvdarji1 opened #373 "Lot of CVEs into images"
Hi,

Is there anyone working towards getting these 2.0 version images updated so that it doesnt contain CVEs (atleast not HIGH and etcs )

Last updated on images were in April 2020

[2020-07-22 15:40] ahmetb commented on #373
Can you explain why is this critical for a demo app?

[2020-07-23 10:21] dhruvdarji1 commented on #373
Well...Most people using this App to demonstrate K8S benefits etc. However K8S needs various other components around it within Enterprise environment. For example, Container Registry etc. ....To demonstrate end to end benefit of containers/K8S to enterprise organisation,it vital to have these images free of vulnerabilities ...Enterprise looks at not just technical demos for individual technology s

[2020-07-23 14:57] saranyagupta05 opened #374 "HTTP Status: 500 Internal Server Error"
I have followed all the installation process to locally build and deploy the microservices, and am able to access the web frontend through my browser. However, when I click on any of the product images say, (Vintage Typewriter), I see this error page.

[Error500](https://user-images.githubusercontent.com/45310966/88301823-bb1c5600-cd22-11ea-82ab-ac7f6eebbf22.png)

On doing a check using `kubectl g

[2020-07-23 16:44] ahmetb commented on #374
Please read its logs. We cannot help with individual debugging requests in this repository.

[2020-07-23 16:44] #374 closed

[2020-07-23 16:46] ahmetb commented on #373
We cannot possibly keep 10 images in this app up to date with latest CVEs. We try to tag releases regularly so the images get rebuilt. However, at the end, this app is not optimized for "container image security scanning" demos.

If you need something different for your repos, please Fork so you can maintain images at the cadence you want.

[2020-07-23 16:46] #373 closed

[2020-07-27 11:41] askmeegs opened #375 "Decouple release/ Manifests into Separate Files"
Reason - make the release manifests more modular for kustomize / trainings.

Mirror the structure of kubernetes-manifests/*.yaml and update the hack/ release scripts to not concatenate all the YAML resources together.

[2020-08-13 01:31] TPS commented on #339
#379 implements this, pending CLA approval.

[2020-08-13 17:38] code128 opened #380 "Attempting to build is giving me this error during [Building frontend]"
Sending build context to Docker daemon  4.228MB
Step 1/16 : FROM golang:1.12-alpine as builder
 ---> 76bddfb5e55e
Step 2/16 : RUN apk add --no-cache ca-certificates git &&       wget -qO/go/bin/dep https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64 &&       chmod +x /go/bin/dep
 ---> Using cache
 ---> 61372b8762e2
Step 3/16 : ENV PROJECT github.com/GoogleCloudPlatform/microserv

[2020-08-13 18:06] ahmetb commented on #380
Looks like a transient issue. Could be networking.

[2020-08-13 19:06] code128 commented on #380
I'll give it another run and see what happens. Thx.

[2020-08-20 17:16] saranyagupta05 opened #381 "Error: No tasks defined. use the @task decorator or set the tasks property of the User"
Attempting to run `loadgen.sh` to generate load gives the error:

[code]

The locust file being used by me-

[code]
Why do I get the error and how could it be solved?

[2020-08-20 17:28] #381 closed

[2020-08-21 15:02] MatteoLucantonio opened #382 "Security vulnerabilities?"
Hi! I'm a cybersecurity student and I'm using this application for my master thesis. Are there any known vulnerabilities in the application or there exists an older vulnerable version?

[2020-08-21 16:02] #382 closed, assigned to nobody

[2020-08-25 11:32] sundar-cs opened #385 "Jaeger trace shows blank tags under Processes node"
This is just a query.
(1)
Paste the YAML from this link into an existing k8s cluster (on AWS for instance)
https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/release/kubernetes-manifests.yaml
(2) Uncomment the JAEGER_SERVICE_ADDR name and value in all the services
(3) Create/Apply this YAML along with Jaeger (jaeger-all-in-one-template.yaml) onto the k8s cluster

The Jaeger UI (

[2020-08-26 08:55] omergulen opened #386 "ERROR: Location-changing options found in --install-option issue"
In the `loadgenerator` microservice deployment to docker, I had faced a **_blocker_** issue.
It prevents users to deploy loadgenerator successfully.

In the `loadgenerator/Dockerfile` using `--install-option` in a pip command with `--prefix` content is not supported anymore.

It alerts the issue as the following:

[code]

Using the pip's _more native parameter_ `--prefix` resolves the issue.

[2020-08-26 17:59] #363 closed

[2020-08-26 18:53] #386 closed

[2020-08-26 20:20] miketruty opened #389 "PermissionDeniedExceptions showing up in Error Reporting"
Hi, we're using microservices-demo in some training to demo features of service mesh. We notice that there lots of PermissionDeniedException errors noted in the Cloud Console Error Reporting. They seem to be benign but users express some concern not knowing for sure. Are these related to some unfinished config where the automated load test client is sending improper requests on purpose? Can we exp

[2020-08-26 20:46] ahmetb commented on #389
If the application works correctly, I suspect they might be transient errors. You can hide that panel if you like. We most likely won't be able to troubleshoot this but if you would like to take a look at the logs, appreciate it. ￼

[2020-08-26 20:59] ahmetb commented on #389
Also realistically there are probably more errors happening :) But our logging format in Python services (only 2 our of 10) is captured by Error Reporting. It could be anything (can't see the stacktrace from your screenshot) but they're most likely about how the services come up in an unordered fashion (or transient network connectivity issues on the nodes/pods).

[2020-08-26 21:07] jwdavis commented on #389
To clarify...

- The app doesn't throw errors if you install on a non-Istio enabled GKE cluster (I used Option 3 install)
- The app throws a single error if you install on an OSS Istio enabled GKE cluster
- The errors that we are seeing are when deploying the app to an Anthos Service Mesh 1.4 enabled cluster

The cluster setup command being used is:

``
gcloud beta container clusters create ${C1_N

[2020-08-26 21:11] ahmetb commented on #389
🤔 Yep the bullet points help a lot. That suggests uploading traces to monitoring API failed. It might be that either nodes don't have enough permissions or ASM/GKE is hijacking the metadata request to provide a different access token.

Again, it still can be a timing issue about when the app container comes up vs istio-proxy sidecar container comes up. We had this class of issues in the past.

Aga

[2020-09-01 04:10] zecoo commented on #329
TTTTThank uuuuuuu！！！！！@Daniel-Sanche

[2020-09-04 02:45] saranyagupta05 opened #392 "Storage of product and cart information"
Hi, I have set up the Online Boutique application on my local machine using minikube. For experimental purposes, I add products to cart, and use the checkout service (provide all details etc.), but after I bring down a container all the information is lost. I understand that this is supposed to happen, but I want to understand how this architecture persists the product and cart related information

[2020-09-04 03:25] ahmetb commented on #392
No, the app is stateless. You can create a database and persist data instead of redis.

[2020-09-04 03:25] #392 closed

[2020-09-04 03:33] saranyagupta05 commented on #392
Got it! Thank you!

[2020-09-14 22:43] JohnGDev opened #401 "Cannot 'skaffold run' using Docker Windows (AdService cannot build)"
1) git clone https://github.com/GoogleCloudPlatform/microservices-demo.git
2) cd microservices-demo
3) skaffold run

skaffold runs but fails here:

Successfully built a5b5d1959c53
Successfully tagged loadgenerator:v0.1.4-34-g18a78e2
[34mBuilding [adservice]...
[0mSending build context to Docker daemon  114.7kB
Step 1/17 : FROM openjdk:8-slim as builder
 ---> 11bdd2ff2337
Step 2/17 : WORKDIR /app

[2020-09-14 23:10] #401 closed

[2020-09-14 23:10] JohnGDev commented on #401
cleaned EOF

[2020-09-28 18:23] UsamaIslam commented on #222
open loadgen.sh in notepad++ (if using windows) and change the EOL to unix from Edit -> EOL Conversion -> UNIX (LF)

worked for me

[2020-10-05 23:36] djmailhot commented on #380
Please re-open if this is still an issue for you

[2020-10-05 23:36] #380 closed

[2020-10-08 17:24] jculio opened #406 "failed to build: couldn't build "loadgenerator""
- Precisely:
ERROR: Failed building wheel for gevent

-  Solution: change in `src/loadgenerator/Dockerfile`
FROM python:3-slim as base    -->    FROM python:3.6-slim as base

[2020-10-08 17:37] ahmetb commented on #406
I can repro, not sure why it's broken all of a sudden. (_smh python..._)

[2020-10-09 14:29] jculio commented on #406
UPDATE for TAG:v0.2.0:
I left in the Dockerfile the original -> `FROM python:3-slim as base`

ERROR:
[code]

SOLUTION:
added -> `RUN python -m pip install --force-reinstall pip==20.1.1`
before the line -> `RUN pip install --install-option="--prefix=/install" -r requirements.txt`

REASON:
Installation fails with latest pip version 20.2.3

[2020-10-12 19:13] ahmetb opened #408 "Migrate to Go modules"
Right now we're using `dep` to manage dependencies for Go services.
On clean builds without cache (e.g. Google Cloud Builds), Go services are the slowest building ones among all (to my surprise).

Migrating to go.mod can help with the build speed significantly as most of the time is spent downloading and unpacking dependencies.
This was also brought up in #295.

Most notably, this dependency numbe

[2020-10-13 11:27] zinderic commented on #406
The builder definition is a bit dated (builder FROM line is from 2019-01-11) and it is too relaxed in my opinion. Maybe we can just fix the builder to a 2 years old image? Like this:

-FROM python:3-slim as base
+FROM python:3.7.2-slim as base

Just made a quick test and it seems to work.

[2020-10-13 20:05] #408 closed

[2020-10-14 21:56] TPS commented on #339
@ahmetb Now that #379 is implemented, close FTW?

[2020-10-14 22:38] #339 closed

[2020-10-16 23:02] #406 closed

[2020-10-19 17:15] baseer216 commented on #406
Hello

I'm a total noob when it comes to containers.

I've updated Dockerfile

FROM python:3.8-slim as base

FROM base as builder

RUN apt-get -qq update \
    && apt-get install -y --no-install-recommends \
        g++

COPY requirements.txt .
RUN python -m pip install --force-reinstall pip==20.1.1
RUN pip install --prefix="/install" -r requirements.txt

FROM base
COPY --from=builder /install /us

[2020-10-24 13:04] mtov opened #417 "Documentation of microservices interfaces?"
Hi, sorry for asking here, but do you have the microservices interfaces documented somewhere?

(I'm planning to use the demo in a software engineering class).

Thanks,

[2020-10-24 16:30] ahmetb commented on #417
See proto file.

[2020-10-24 16:30] #417 closed

[2020-10-27 18:03] #361 closed

[2020-10-28 21:55] djmailhot commented on #365
Closing this issue as out of scope for this project.

[2020-10-28 21:55] #365 closed

[2020-10-29 05:33] jpatokal opened #421 "Orders not charged correctly if quantity > 1"
If you place an order for (say) 10 Vintage Camera Lenses @ $12.48, the `/cart` page shows (almost) the correct math:

[code]

However, the `/cart/checkout` page shows only 1:

[code]

This issue seems to apply to all items, including combinations of them.

[2020-10-29 05:39] jpatokal commented on #421
Update: Looks like this is fixed already, so closing.

https://github.com/GoogleCloudPlatform/microservices-demo/pull/378

[2020-10-29 05:39] #421 closed

[2020-10-29 14:38] kshcherban opened #422 "OpenTelemetry Support"
Please advise do you plan to migrate from OpenCensus to OpenTelemetry?
I've seen some discussion around it in #109 but there's no track of any progress.

[2020-10-29 18:12] ahmetb commented on #422
cc @simonz130 do you know of any progress?

[2020-11-02 22:41] askmeegs commented on #389
Sorry for the delay on this. I'm seeing a similar set of errors on a GKE cluster with the latest ASM v1.6 - https://cloud.google.com/service-mesh/docs/gke-install-asm

For instance -
[code]

I believe the reason is because ASM requires [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_on_new_cluster) to be enabled in the cluster. This means that po

[2020-11-03 00:40] asharma-a10 commented on #374
Facing same issue on my local setup as well.

[2020-11-03 03:06] ahmetb commented on #389
Thanks for updating the instructions. Workload identity requirement seems new, I was not aware.

[2020-11-03 16:56] askmeegs opened #424 "Pull request CI is failing with KIND "unable to get nodes" error"
https://github.com/GoogleCloudPlatform/microservices-demo/pull/423/checks?check_run_id=1344754071

[2020-11-03 19:28] djmailhot commented on #109
As noted above, a configurable Open Census Agent is preferred over using a Jaeger exporter.  Closing this issue as Obsolete.

[2020-11-03 19:28] #109 closed

[2020-11-03 19:29] djmailhot commented on #112
As noted in #109, a configurable Open Census Agent is preferred over using a Jaeger exporter.  Closing this issue as Obsolete.

[2020-11-03 19:29] #112 closed

[2020-11-03 19:40] askmeegs opened #426 "ProductCatalog unit tests failing"
[code]

[2020-11-03 22:11] askmeegs opened #427 "Extend or write unit tests for all services"

[2020-11-03 22:12] askmeegs opened #428 "Fix dotnet CLI tests for Github actions"
Currently failing with a relative path error, commented out in the workflow YAMLs right now.

[2020-11-03 22:13] askmeegs commented on #358
Also want to add that [Bank of Anthos](https://github.com/googlecloudplatform/bank-of-anthos) is all HTTP-based, six services.

Understanding that a major architectural update for OnlineBoutique is not in the roadmap right now, I'm going to close this issue.

[2020-11-03 22:13] #358 closed

[2020-11-04 05:51] mathieu-benoit commented on #389
FYI: it looks like there is a need to update the opencensus-stackdriver component to get that fix once Workload Identity is implemented: https://github.com/census-instrumentation/opencensus-python/pull/761.

[2020-11-08 03:07] npitaev opened #431 "failed to build paymentservice, failed to build LLB, failed to load cache key"
Facing build issue for the paymentservice, which might be similar to the issue #406 failed to build: couldn't build "loadgenerator", however the solution from that issue, does not help. IMO we need somehow to tweak src/paymentservice/Dockerfile but I am not sure how.

Error while following option 2 install on GCP - the following output after executing skaffold run --default-repo=gcr.io/[my valid p

[2020-11-08 16:27] JZ3736 opened #432 "skaffold build error - paymentservice"
Hi,

As recommended by the group, open issue for error encountered refer to screenshot

While skaffold building paymentService, it exits with error below, suspected " image node:8 might have been deleted."

![Screen Shot 2020-11-07 at 9 12 06 PM](https://user-images.githubusercontent.com/25289870/98470673-4c6de600-21b5-11eb-91c1-b929359a7554.png)

[2020-11-09 13:57] #424 closed

[2020-11-09 15:10] askmeegs opened #433 "Upgrade recommendationservice to Python3"
https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/src/recommendationservice/Dockerfile#L15

[2020-11-10 02:19] mathieu-benoit commented on #432
FYI: seems to be the same error as reported here https://github.com/GoogleCloudPlatform/microservices-demo/issues/431

[2020-11-10 14:43] mathieu-benoit commented on #433
FYI: I started that one for this: https://github.com/GoogleCloudPlatform/microservices-demo/pull/435

[2020-11-10 19:46] askmeegs commented on #431
Thanks for reporting this. I'm investigating.
I'm also seeing this error in cartservice:

[code]

[2020-11-10 19:49] askmeegs commented on #432
Thanks for reporting this! Closing this in favor of #431 which is a duplicate.

[2020-11-10 19:49] #432 closed

[2020-11-10 19:58] askmeegs commented on #431
It's likely that the culprit is a recent commit that added a default Docker Buildkit option - https://github.com/GoogleCloudPlatform/microservices-demo/commit/9e84e61ecc9d28278bee30a900e56c002614024c

Related issue: https://github.com/docker/buildx/issues/426

[2020-11-10 20:03] askmeegs commented on #431
Leaving this issue open until I can figure out the underlying reason for this error. In the meantime I am reverting the commit that enables buildkit.

[2020-11-10 21:04] askmeegs commented on #433
Ah, you're right, sorry about that! I'll close mine.

[2020-11-11 15:52] briandealwis commented on #431
I noted on https://github.com/GoogleContainerTools/skaffold#5015 that this is a problem in Moby/Docker/Containerd when using a registry mirror like `mirror.gcr.io` (https://github.com/moby/buildkit/issues/1271) that has been fixed in newer releases of Docker.  I further noted there that when running Skaffold with Minikube, Skaffold uses the Minikube's Docker daemon for the builds rather than the l

[2020-11-11 18:23] askmeegs commented on #431
Thanks for this info, Brian! Two things,

First, re: Docker versions, it seems like I was testing this on the latest Linux version of Docker engine. So I'm not sure if I needed up grade something else, to see the fix you're seeing? https://docs.docker.com/engine/release-notes/#version-1903

[code]

Second, I'm not sure if registry mirrors are the only thing causing the cache key errors, I also saw

[2020-11-12 18:57] mathieu-benoit commented on #433
Fixed by https://github.com/GoogleCloudPlatform/microservices-demo/pull/435

[2020-11-15 16:40] npitaev commented on #431
Many thanks, folks, for the comment!
I forgot to mention, that as workaround you can spin up the whole thing using cloud build option (-p gcb):
`skaffold run **-p gcb** --default-repo=gcr.io/<your GCP project ID>`
It looks like the cloud build setup has the right dependencies.

[2020-11-15 19:08] askmeegs commented on #389
Thanks for checking that Mathieu. @miketruty I'm going to close this now that we have WI instructions in this repo, feel free to reopen if you follow those steps but keep seeing problems.

[2020-11-15 19:08] #389 closed

[2020-11-16 17:29] briandealwis commented on #431
I hit this same issue on the weekend, and I do use `mirror.gcr.io` as a registry mirror, but I'm running the latest Docker for Mac.  So I'm not sure entirely sure where the problems lie.  I haven't dug into this further.

I will note that BuildKit uses a different code-path from a normal `docker build`, and they can be distinguished by the build output.  Use `DOCKER_BUILDKIT=1 docker build ...` to

[2020-11-19 03:12] #433 closed

[2020-11-26 21:26] utkuozdemir opened #447 "Create a Helm chart for the application"
A Helm chart with configurable service type, resources, optional ingress and so on would be great.

[2020-12-01 06:03] jmyung opened #451 "need space in comment for adservice deployment"
space are needed in comment for adservice deployment.

**before**
[code]

**after**
[code]

[2020-12-01 08:19] didier-durand opened #453 "v0.2.1: incorrect image names in deployment yaml"
Hi there,

It seems that image names are incorrect in deployment yaml of v.0.2.1:

[code]
it seems that the star  should be replaced by proper image name for each microservice

[2020-12-04 06:07] didier-durand opened #455 "Deployment of v0.2.0 on local microk8s : emailservice looking for GCP project ID"
Hi there,

After successfully deploying on GKE, now trying to deploy v0.2.0 on a laptop microk8s instance (independent of GKE / GCP)

All services / deployments come up properly except emailservice going to CrashLoopBackOff.

Its logs say:

[code]

What should I do? Create a dummy GOOGLE_CLOUD_PROJECT env var with no value in the yaml for emailservice ? Other workaround?

Thanks!

Didier

[2020-12-04 06:11] didier-durand commented on #455
Indeed, I have similar issue with recommendationservice (I didn't notice it before...)

[code]

[2020-12-04 06:19] ahmetb commented on #455
Agreed, ideally services should print warnings but should not crash if not on GCP. There are env vars to disable tracing and monitoring, that can help, but should not be required.

[2020-12-04 06:23] didier-durand commented on #455
@ahmetb : Thanks for the quick feedback! Is it possible for me now to disable those env vars via manifest ? How ? Or should I wait for a fix? Didier

[2020-12-04 18:43] ahmetb commented on #455
@didier-durand there are already commented  out env vars in the manifests, but this issue probably still stay open to address the problem.

[2020-12-04 23:18] mathieu-benoit commented on #455
@didier-durand, have you tried to set `DISABLE_TRACING` to `1` here: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/kubernetes-manifests/emailservice.yaml#L38 and here https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/kubernetes-manifests/recommendationservice.yaml#L48?

[2020-12-05 03:51] didier-durand commented on #455
@mathieu-benoit : thanks for those details! That's exactly what I was looking for.

I tried. Now, Online Boutique works fine with Microk8s on my laptop:

[code]

I am happy to prepare a small PR for the doc to detail it if you want.

[2020-12-05 03:54] dstiers11 commented on #455
Hey me there

[2020-12-07 04:22] arunatechtalk opened #457 "Recommendation Service is not starting on local deployment"
I tried deploying this app on my local mac desktop.
Followed the instructions as mentioned in local development section of the readme.
One of the services failed to start.

NAME                                     READY   STATUS             RESTARTS   AGE
adservice-5895cb7977-phgl5               1/1     Running            0          38m
cartservice-5d4c44f44b-xl2mt             1/1     Running

[2020-12-07 04:32] arunatechtalk commented on #457
looks like this is expecting the google credentials which will obviously fail in local deployment.

30 seconds to retry Stackdriver Profiler agent initialization"}
{"timestamp": 1607315187.5049503, "severity": "INFO", "name": "recommendationservice-server", "message": "Tracing enabled."}
{"timestamp": 1607315187.508615, "severity": "INFO", "name": "recommendationservice-server", "message": "Tracin

[2020-12-07 04:33] arunatechtalk commented on #457
Can someone look at this?

[2020-12-08 15:14] yogeek opened #458 "Error building cartservice"
Hello :)

I cloned the code and I am trying to build the cartservice docker image on my ubuntu VM but I have the following error :
[code]

Anything I missed please ?

[2020-12-08 15:28] mathieu-benoit commented on #458
Hi @yogeek, trying to see if can reproduce, in the meantime just curious, are you running this command from this folder `~/microservices-demo/src/cartservice`? Could you also make sure you have the latest version of the `master` branch with `git pull`?

[2020-12-08 15:33] mathieu-benoit commented on #458
Interestingly I just did this:
[code]
And was succesfully able to build that `cartservice` container locally.
Could you please run those 3 commands above to see if you still have the issue? And let's see from there.

[2020-12-08 21:35] mathieu-benoit commented on #453
Looks like there is an issue in there https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/hack/make-release-artifacts.sh#L72, FYI @askmeegs

[2020-12-08 22:04] ahmetb opened #459 "Proposal: enable Discussions"
New forum-like GitHub feature https://github.com/github/roadmap/issues/104, this can help users open their questions as a forum post rather than a GitHub issue and help us drive down the issue count.
Thoughts?
cc: @djmailhot @askmeegs

[2020-12-09 08:51] yogeek commented on #458
Hello @mathieu-benoit and thank you for your help !

Indeed, your commands are working well. I investigated a little bit and it appears that I copied the `src/cartservice` in a separate folder with `cp -r src/cartservice/*` before building the image : and so, the little hidden `.dockerignore` file was not part of my directory, and I guess this caused the error because of [this line](https://github

[2020-12-09 13:38] mathieu-benoit commented on #458
Great to hear it works as expected, thanks for following up.

For your bonus question, there is an open issue https://github.com/GoogleCloudPlatform/microservices-demo/issues/428 to re-enable these .NET unit tests.

Closing this current issue for now.

[2020-12-09 13:38] #458 closed

[2020-12-09 13:39] yogeek commented on #458
Perfect, thank you again !

[2020-12-09 14:40] mathieu-benoit commented on #455
Hi @didier-durand, closing that one for now, and FYI I'm starting this PR to see if we could silently catch that exception in `recommendationservice` and `emailservice`: https://github.com/GoogleCloudPlatform/microservices-demo/pull/460.

[2020-12-09 14:40] #455 closed

[2020-12-09 14:47] didier-durand commented on #455
@mathieu-benoit : Looks good to me! Thanks for the feedback. Didier

[2020-12-09 17:36] mathieu-benoit commented on #457
Hi @arunatechtalk, like discussed on a similar issue reported recently: https://github.com/GoogleCloudPlatform/microservices-demo/issues/455, you could leverage `DISABLE_TRACING`, `DISABLE_PROFILER` and `DISABLE_DEBUGGER` to `1` here: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/kubernetes-manifests/recommendationservice.yaml#L48.

FYI: this work-in-progress PR will propos

[2020-12-09 17:36] #457 closed

[2020-12-09 20:09] askmeegs commented on #453
Apologies, this was a sed mishap during the v0.2.1 release, fixing asap! Thanks for bringing it to our attention.

[2020-12-09 22:41] askmeegs commented on #453
Thanks for bringing this to our attention! Fixed: https://github.com/GoogleCloudPlatform/microservices-demo/releases/tag/v0.2.1

v0.2.1 tag is now tied to the commit that fixed the asterisk error. (Caused by using the wrong `sed` during the release process, my mistake.)

[2020-12-09 22:41] #453 closed

[2020-12-09 22:50] askmeegs commented on #459
This is an interesting new feature - I recommend we hold off until our team chats about this re: all the GoogleCloudPlatform repos, and specifically the 10+ repos we own. I want to make sure we're being consistent and have a process set up for triage + response.

(Context - right now Issues work well because they're mirrored into b/  so we can easily quantify closure, etc. in existing dashboards)

[2020-12-10 04:20] didier-durand commented on #453
@askmeegs : You're welcome. Thanks for the fix. I will now be able to try it on v0.2.1. Didier

[2020-12-10 11:12] sayom88 opened #464 "Problem with 3 microservices during app deployment"
After clone this repository, deployed the sample app to the cluster using the command mentioned kubectl apply -f ./release/kubernetes-manifests.yaml

But when I am running the command to check the status of the pod, observing that 3 services are not running:
1.cartservice
2.loadgenerator
3.recommendationservice

Also to access the web frontend, when I run the command kubectl get service frontend-e

[2020-12-10 13:45] mathieu-benoit commented on #464
Hi @sayom88, could you indicate more about your setup please? Are you using GKE? With WorkloadIdentity? What `kubectl get all,secrets` is telling you? Furthermore, you may want to run few `kubectl logs` on the 3 pods in `CrashLoopBackOff`. Let's see from there.

[2020-12-10 13:53] sayom88 commented on #464
Hi @mathieu-benoit  thanks for getting back....no I am using Openshift Cluster.... when i run the kubectl get all,secrets, i am sharing the attachment.
[output.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5673195/output.txt)

[2020-12-10 13:57] mathieu-benoit commented on #464
Ok, you should get more information to see what's happening with:
- `kubectl logs` on the `loadgenerator` pod
- `kubectl describe deploy cartservice`
- `kubectl describe deploy recommendationservice`

[2020-12-10 18:21] elfinhe opened #469 "Managed grpc change broke cart service"
Change from https://github.com/GoogleCloudPlatform/microservices-demo/pull/454 has broken the cart service, because the image does not have the latest code?

Steps to reproduce:

[code]

[code]

[2020-12-10 18:22] elfinhe commented on #469
@askmeegs @mathieu-benoit

[2020-12-10 18:22] mathieu-benoit commented on #469
Thanks for the feedback, I will look at this as soon as I can.

[2020-12-10 18:24] elfinhe commented on #469
seems like release/ is still using cartservice:v0.2.1, where the latest code was not pushed.

[2020-12-10 18:27] mathieu-benoit commented on #469
Yep, indeed, I updated the `release/kubernetes-manifest.yaml` in master branch, which actually should be generated when the next new release will happen.
In the meantime, since you would like to deploy the prebuilt `0.2.1` container images, I encourage you to grab the source code from the associated release here https://github.com/GoogleCloudPlatform/microservices-demo/releases/tag/v0.2.1 (zip fil

[2020-12-10 19:13] mathieu-benoit commented on #469
Hi @elfinhe, https://github.com/GoogleCloudPlatform/microservices-demo/pull/470 fixing this, has just been merged into master. That should fix your issue, thanks for raising this that early and let us know if everything is coming back to normal with this. Thanks.

[2020-12-10 19:16] elfinhe commented on #469
Thanks so much for the quick response and fix.

[2020-12-10 20:20] mathieu-benoit commented on #464
Furthermore @sayom88, you need to get the latest version of `master` because you may have been impacted by the issue on `cartservice` like explained here: https://github.com/GoogleCloudPlatform/microservices-demo/issues/469, the associated fix was merged into master since we spoke earlier on that thread.

[2020-12-11 04:04] mathieu-benoit commented on #469
Assuming this has been fixed, closing it for now but feel free to reopen it if you still have the issue, thanks.

[2020-12-11 04:04] #469 closed

[2020-12-12 10:03] sayom88 commented on #464
Hi @mathieu-benoit i have taken the latest version only....is it due to the fact that I am deployed in Openshift cluster and not on Google Kubernestes cluster?

[2020-12-12 18:25] mathieu-benoit commented on #464
Hi @sayom88, could you please provide the information of the last section named `Events` of the output when you run these commands:
[code]

[2020-12-14 18:46] ttsrg commented on #464
I've faced same problem using slow node. Instance 4cpu has fixed this problem for testing purposes.

Possible  decrease CPU limits into manifest helps to start app on 2xCPU node.

[code]

[2020-12-14 19:06] mathieu-benoit commented on #464
Thanks @ttsrg, you are correct that could be one of the reason among different other reasons (that's why seeing what those `kubectl describe deploy` say, could help narrow the issues). I actually faced the CPU limits you mention, maybe it's a good future contribution to this repo to improve that part, agree with you.

[2020-12-14 19:09] ttsrg commented on #464
Ou no, if we use istio , we have to have free resources.  I guess 4xCPU minimal requirements.....

[2020-12-15 10:32] sayom88 commented on #464
Hi @mathieu-benoit @ttsrg  sharing all the details of the failed services. May I request can you kindly take a look into them please and suggest the needful please. Tnx.
[currencyservice.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5695099/currencyservice.txt)
[shippingservice.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5695100/shippingservice.txt)

[2020-12-15 12:44] mathieu-benoit commented on #464
From there we don't have more details about why you have `0 available | 1 unavailable`. Have you tried to see if `kubectl describe pod` on the associated pods, give you more insights?
[code]

[2020-12-15 13:36] sayom88 commented on #464
Hi @mathieu-benoit  here you go:
[recommendationservice.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5696221/recommendationservice.txt)
[cartservice.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5696225/cartservice.txt)
[loadgenerator.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/5696226/loadgenerator.txt)

[2020-12-15 14:19] mathieu-benoit commented on #464
Not going to fix the issue, but please make sure you apply the latest version of the `cartservice`'s deployment file: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/release/kubernetes-manifests.yaml. I can see you don't apply it again since the latest update/fix on it.

_Disclaimer, I'm not an OpenShift expert and I'm trying to do my best to help you investigating your issue

[2020-12-15 20:31] askmeegs opened #477 "pull_request event breaks staging IP comment in forked pull requests"
@NimJay: @askmeegs When you find time, could you please elaborate on the description here?

[2020-12-16 10:54] sayom88 commented on #464
Hi @mathieu-benoit can you please confirm one thing.....what is the Kubernetes cluster configuration required to deploy this app? Can this be deployed in a free Kubernetes cluster that the cloud vendors provides?

[2020-12-16 13:22] mathieu-benoit commented on #464
Hi @sayom88, GKE mostly but different scenario exist with `minikube`, `kind`, etc. for example: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/docs/development-guide.md. Now if you have issues with the minimal deployments (`release/kubernetes-manifests`) that may help to improve that repo if appropriate.

[2020-12-16 13:25] sayom88 commented on #464
Hi @mathieu-benoit  so I see that for local setup, the Kubernetes cluster has to be at least:
    4 CPUs
    4.0 GiB memory
    32 GB disk space

Is that the case as well for any Kubernetes cluster in the cloud platform?

[2020-12-16 14:36] sayom88 commented on #464
Hi @mathieu-benoit ,i have done a fresh deployment today using the latest version....now i see only loadgenerator service is having the CrashLoopBackOff ,other services are running fine....
![image](https://user-images.githubusercontent.com/16284729/102362069-f4a77380-3fd9-11eb-9b94-0c29304f2883.png)

Now as you have suggested i am doing kubectl describe pod -l app=loadgenerator, i get this detail

[2020-12-16 14:41] mathieu-benoit commented on #464
You have `0/1` for `cartservice` and `redis` too. Again, `kubectl get events`, `kubectl describe pod` on both and `kubectl logs` on those 3 pods may provide you more information...

[2020-12-17 08:06] ttsrg commented on #464
@sayom88 could you run next commands please:

[code]

[2020-12-17 08:07] ttsrg commented on #464
It's minimal requiremets

[2020-12-17 11:21] sayom88 commented on #464
Hi @ttsrg today I have done a fresh new deployment using the latest codebase in one of my AKS Cluster....this is the what is the current situation now:
![image](https://user-images.githubusercontent.com/16284729/102481332-96d16500-4087-11eb-955f-124d5f4d8b8f.png)

This is the external ip: http://20.75.153.221/

Also sharing the details of the loadgenerator and cartservice service this time....
[lo

[2020-12-17 13:50] mathieu-benoit commented on #464
For `cartservice`, you could see in the `Events` section that there is erros like `Readiness probe errored` which is caused because you still have an old version of the deployment with the env variable `ASPNETCORE_URLS:  http://0.0.0.0:7070`. Again, like mentioned earlier in this thread, fixed with this PR # https://github.com/GoogleCloudPlatform/microservices-demo/pull/470. Could you make sure yo

[2020-12-17 15:42] sayom88 commented on #464
Hello @mathieu-benoit  Finally it works fine.... tnx....this is the url http://40.88.228.228/

Only I suggestion here is, how to remove the GoogleCloud icon since I have deployed this in Azure cloud platform. Is there any way to remove this banner please?

![image](https://user-images.githubusercontent.com/16284729/102509377-7c5db280-40ac-11eb-8006-9c0d310605f6.png)

[2020-12-17 15:52] mathieu-benoit commented on #464
Glad you made it! Closing this issue then.

For your question about the `Google Cloud` label, you could apparently change the value of the `ENV_PLATFORM` env variable here: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/release/kubernetes-manifests.yaml#L258. Here are the values available: https://github.com/GoogleCloudPlatform/microservices-demo/blob/65b5da1a9b3ebdb2cccee3c

[2020-12-17 15:52] #464 closed

[2020-12-17 15:56] sayom88 commented on #464
tnx @mathieu-benoit and @ttsrg

[2020-12-27 20:07] joekendal opened #480 "Architecture justification"
There's not much in the Development  Principles on the architecture justification. I'm wondering why Google would use this approach of direct communication over an asynchronous event-driven approach with maybe a workflow engine for certain logic.

Is this standard across Google? Afaik the issues with direct communication mainly lie in having long call chains and downtime of one microservice causin

[2020-12-27 20:10] joekendal commented on #480
@mathieu-benoit @askmeegs

[2020-12-27 21:27] ahmetb commented on #480
Overall, this repo is meant to be a "microservices demo"; not "event driven app demo".

It is a test/demo bad for microservice-based tools, services and platforms.

One could implement an e-commerce website using many different architectures, but this format highlights the microservices/RPC aspects more, gives us a meaningful service call graph and highly meaningful distributed trace spans.

Also

[2020-12-31 18:16] #480 closed

[2021-01-03 18:39] shivaylamba opened #483 "Changing logo of currency based on currency selected."
![image](https://user-images.githubusercontent.com/19529592/103486084-1a79a880-4e21-11eb-9e22-f6c4cdabf13b.png)

Can we change the currency icon after changing currency in nav bar

[2021-01-04 23:51] anilreddyv commented on #302
for on-prem cluster

+ kubectl logs -f currencyservice-7b47ccdfd4-brg5h
Profiler enabled.
Tracing enabled.
@google-cloud/trace-agent ERROR StackdriverTracer#start: Tracing might not work as the following modules were loaded before the trace agent was initialized: [@google-cloud/common, @google-cloud/profiler, @google-cloud/projectify, @google-cloud/promisify, @protobufjs/aspromise, @protobufjs/bas

[2021-01-04 23:54] anilreddyv opened #484 "Some of the pods are in crashLoopBackOff mode - Readiness/Liveness Probe failure"
Some of the services are failing on-prem K8 cluster (version v1.18.8). Using master brach of the demo service

➜  microservices-demo git:(master) ✗ k get pods
+ kubectl get pods
NAME                                     READY   STATUS             RESTARTS   AGE
adservice-5597994964-thxn9               2/2     Running            0          86s
cartservice-6d6d946fcc-47rmx             2/2     Running

[2021-01-05 00:12] anilreddyv commented on #484
I have disabled following on all the deployment too

        - name: DISABLE_TRACING
          value: "1"
        - name: DISABLE_PROFILER
          value: "1"

[2021-01-25 10:06] deesejohn opened #492 "Skaffold multi-config (or modules)"
Would it be worth migrating to skaffold multi-config / modules now that v1.18 is out? If so, would it be best to use the [multi-file version](https://docs.google.com/document/d/1dA1549Rj9xfAt5sHh-wHng1MQT1A9SOylLt4xEjctGk/edit#heading=h.ret7pt2cy6do) or [single-file version](https://docs.google.com/document/d/1dA1549Rj9xfAt5sHh-wHng1MQT1A9SOylLt4xEjctGk/edit#heading=h.h5s2b9zhkr7o)? I'd be happy t

[2021-01-27 15:06] HelgIn commented on #84
Hello! I have a problem with this feature, hope you can help me. I use this on GKE to slowdown productcatalogservice and it works fine, but after some minutes I got **'panic: runtime error: invalid memory address or nil pointer dereference'** on **server.go:256**. Did you have this problem sometime? I wonder can it be because of CPU limit in deployment yaml? Currently I have 200mCores.

![online-b

[2021-01-28 22:19] eshen1991 opened #497 "failed to build productcatalogservice locally"
Tried to build the docker image locally for productcatalogservice and got the following error:

➜  productcatalogservice git:(master) docker build -t catalog .
Sending build context to Docker daemon  131.1kB
Step 1/15 : FROM golang:1.15-alpine AS builder
1.15-alpine: Pulling from library/golang
...
...
Step 10/15 : RUN GRPC_HEALTH_PROBE_VERSION=v0.3.6 &&     wget -qO/bin/grpc_health_probe https://

[2021-02-02 15:07] askmeegs commented on #497
Hi Eric, sorry you're seeing this! I was unable to reproduce this locally, `Step 10` ran ok on the latest master branch -

[code]

I'm running Docker Desktop on Mac -
[code]

Although I wouldn't think Docker itself would be causing that wget issue. Is it possible you briefly lost network connectivity during the build? ([This `wget bad address` issue](https://github.com/brikis98/docker-osx-dev/issu

[2021-02-09 14:06] shreyasHpandya opened #501 "recommendationservice in CrashLoopBackoff"
I am trying to run in minikube, I don't have GCP account, Is GCP required for this service?

I deployed from `release` directory with `kubectl apply -f kubernetes-manifests.yaml`

Traceback

[code]

[2021-02-11 20:32] mathieu-benoit commented on #501
Hi @shreyasHpandya, please see this thread and workaround for you for this specific issue you are describing: https://github.com/GoogleCloudPlatform/microservices-demo/issues/457#issuecomment-741928978. Furthermore, like explained in there, it will not be an issue anymore in the future release/version of that `recommendationservice` container.

Closing this for now, but feel free to reopen it if t

[2021-02-11 20:32] #501 closed

[2021-02-12 17:57] mathieu-benoit commented on #497
Same here, it's working fine for me locally, in Cloud Shell and even in the CI of this repo (new version just released without any issue). Closing this one for now, but @eshen1991, please feel free to reopen that issue if you still have it.

[2021-02-12 17:57] #497 closed

[2021-03-04 11:21] TIffoppe opened #508 "Myself"

[2021-03-04 16:17] #508 closed

[2021-03-04 18:44] #431 closed

[2021-03-05 17:00] askmeegs commented on #422
We hope to migrate this app from OpenCensus to OpenTelemetry in the April-May 2021 timeframe, thanks for your patience.

[2021-03-08 08:18] braxtonj commented on #497
I am experiencing the same issue building for a GCP cluster.

[code]

**The error**
[code]

[2021-03-12 11:39] deesejohn commented on #428
You'll need to change the folder structure to unnest the `tests` folder from the directory containing `cartservice.csproj`. An idotomatic pattern would be:

[code]
See [Microservices Reference Implementation](https://github.com/mspnp/microservices-reference-implementation) and [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Services)

I'd be happy to restr

[2021-03-12 17:02] TIffoppe commented on #428
Good morning!
If you could and don’t mind doing that for me, I would GREATLY APPRECIATE
IT. It’s all gibberish to me. I have no idea what any of that means. Also,
I DO NOT PREFER the lower cases, I was just unable to change if it
uppercase. Thank for your appreciated offering of assistance.
Warmly
Tiffani
On Fri, Mar 12, 2021 at 3:40 AM deesejohn ***@***.***> wrote:

--
null

[2021-03-17 17:49] #426 closed

[2021-03-23 13:36] askmeegs commented on #422
Update: after discussing with our team, we have decided to keep the upstream OnlineBoutique as a reference for OpenCensus, until its eventual deprecation.

The Cloud Ops Sandbox provides an OnlineBoutique + OpenTelemetry reference. You are also welcome to fork this repo and replace OpenCensus with OpenTelemetry.

[2021-03-23 13:57] askmeegs commented on #359
Hi Fabian, because you're running in KIND, and Google Cloud debugger is enabled for the app, you're seeing auth errors because your pods are trying to connect to GCP with no auth. You need a service account token for GCP inside your pod. In GKE, this happens by default, but in non-GCP K8s environments, you have to do that manually. So you'll likely have to do one of two things -

1) Turn off Googl

[2021-03-23 14:00] askmeegs commented on #428
Hi John, thanks for this info! Yes, feel free to open a PR!

[2021-03-23 14:03] askmeegs commented on #447
Hi Utku, thanks for this suggestion - we try to keep these upstream repos as small as possible, with just the basic Kubernetes manifests. You are free to create and publish your own Helm chart for this app. Thanks!

[2021-03-23 14:03] #447 closed

[2021-03-23 17:27] #451 closed

[2021-03-23 18:21] deesejohn commented on #428
Hi Megan, fixing the build errors from issue #458 was as simple as creating a folder for the api project. I ran into another issue where the unit tests themselves were failing. It looks like they are more e2e tests meant to be run after the application has been deployed. Considering the github workflow was running the tests prior, I refactored the tests to leverage `Microsoft.AspNetCore.TestHost`

[2021-03-25 14:04] #428 closed

[2021-04-01 02:57] velcrine commented on #484
+1 cartservice fails to communicate with redis, even though redis gets ready. Because of cartservice, load generator also crashes.

[2021-04-01 13:16] askmeegs opened #526 "CI - Use same GCR repo for `latest` and release images"
Currently, the release images live here (CI project, same project as the Github actions GCE runners) -- https://gcr.io/google-samples/microservices-demo

And the latest images live here --  https://gcr.io/onlineboutique-ci

This is for legacy reasons (the google-samples project hosted the images initially, then we added Github actions CI using a new project, which we decided to keep separate since

[2021-04-07 11:05] Plat0nicS0lid opened #528 "Pod recommendationservice-78965f984b is looping in CrashLoopBackOff state"
Hi,
trying to start microservices-demo on minikube, but the pod recommendationservice-78965f984b is in CrashLoopBackOff state.

Minikube has 6 Cpus and 8192 Memory.

kubectl get nodes
NAME       STATUS   ROLES                  AGE   VERSION
minikube   Ready    control-plane,master   21m   v1.20.2

kubectl get pods
NAME                                     READY   STATUS             RESTARTS   AGE
a

[2021-04-07 15:30] askmeegs commented on #528
Hello, because you're running this on minikube, you either need to set up GOOGLE_APPLICATION_CREDENTIALS or disable tracing, profiling, metrics.

See:
https://github.com/GoogleCloudPlatform/microservices-demo/issues/457#issuecomment-741928978

+ we have an open issue to improve instructions for non GKE environments trying to communicate with GCP APIs.
https://github.com/GoogleCloudPlatform/microse

[2021-04-07 15:30] #528 closed

[2021-04-09 15:56] #334 closed

[2021-04-12 20:03] #483 closed

[2021-04-13 10:54] sagarpatil23192 opened #532 "Do we have OpenAPI (Swagger) spec for the applications"
Do we have OpenAPI (Swagger) spec for all the API's in the applications? If yes please help me with that. I will be needing it to create a Service Profile using Linkerd

[2021-04-13 16:26] ahmetb commented on #532
I don't think we have Swagger specs for any, as all services use gRPC/Protobuf.

[2021-04-14 05:42] sagarpatil23192 commented on #532
@ahmetb If we have a protobuf format for all the services if will be helpful

[2021-04-14 15:44] ahmetb commented on #532
Proto files are available in the repository.

[2021-04-14 15:44] #532 closed

[2021-04-20 12:09] sagarpatil23192 opened #533 "Enable tracing using Jaegar"
For doing this we just need to uncomment JAEGER_SERVICE_ADDR env in the deployment manifest and provide the correct value that's it??

Also, I read a few issues which stated tracing feature is not enabled for all the micro-services. So just to confirm we have it enabled for all the microservices right

[2021-04-20 14:40] sagarpatil23192 commented on #533
Also, I checked the issue: https://github.com/GoogleCloudPlatform/microservices-demo/issues/198 where it stats using oc_agent. Need clarification on the usage

[2021-04-21 05:07] sagarpatil23192 commented on #533
We have integrated this application with linkerd and using linked's jaeger integration for tracing. I edited the JAEGER_SERVICE_ADDR env in the respective deployment manifest and deployed the application. I check the logs for all the applications which integrate with jeager and get the message
{"message":"jaeger initialization completed.","severity":"info","timestamp":"2021-04-21T04:56:59.37636367

[2021-04-21 06:46] sagarpatil23192 commented on #533
Just an update the Initialization for jaeger is successful. But all the applications sending the traces to jaeger are having same error logs:
 Error when uploading spans to Jaeger: failed to upload traces; HTTP status code: 404

[2021-04-21 07:53] sagarpatil23192 commented on #533
Treid setting the env JAEGER_SERVICE_ADDR to "collector.linkerd-jaeger:55678" and also "collector.linkerd-jaeger:55678/api/traces" but same outcome. Same error as above

[2021-04-21 10:56] sagarpatil23192 commented on #533
The 404 got fixed as I was using the wrong port. Setting the env JAEGER_SERVICE_ADDR  to "collector.linkerd-jaeger:14268" worked and I am able to see the services in the Service drop down on the Jaeger UI. But as mentioned in the issue https://github.com/GoogleCloudPlatform/microservices-demo/issues/385 for the process in any trace the tags are always blank. I am sending spans from multiple cluste

[2021-04-21 13:41] sagarpatil23192 commented on #385
+1

[2021-04-23 21:14] sitaramkm opened #534 "Docker builds with make-docker-images.sh fails"
Run ./make-release.sh or just run make-docker-images and the build will fail because PR #516 moved cart service artifacts to one folder below into src.
The changes to the PR was accounted in skaffold.yaml for local builds but it is not propagated to scripts that make release builds.

Result -> build failure as script fails to find Dockerfile

[2021-04-25 18:53] askmeegs opened #536 "Add kustomize support"
Add Kustomize base + overlay structure to replace the following --

- hack script that produces kubernetes-manifests -->  release/kubernetes-manifests workflow (use kustomize to inject image tag + generate manifests)

This will enable teams that need to customize the manifests, allowing them to either contribute their own overlay upstream, or fork the repo + build an overlay there.

[2021-04-26 17:20] bourgeoisor commented on #533
Hello! It seems like your questions got answered and that you're getting the same issue as https://github.com/GoogleCloudPlatform/microservices-demo/issues/385
I will be closing this ticket in favour of the former to resolve the duplicate.

[2021-04-26 17:20] #533 closed

[2021-04-27 00:07] bourgeoisor commented on #534
Verified locally that this is reproducible:
[code]

[2021-04-27 00:12] mathieu-benoit commented on #534
Good catch @sitaramkm, JFYI actually that was #518 which moved the `Dockerfile` under the the `src/` subfolder and forgot to take into account this in the `make-release.sh` script.

[2021-04-27 00:49] #534 closed

[2021-04-29 18:30] bourgeoisor commented on #385
To clarify, the normal trace tags are there but not the process tags correct?

If so, I've been able to reproduce this issue on GKE as well:
- Create a GKE cluster;
- Install the Jaeger operator with `WATCH_NAMESPACE: ""` (https://github.com/jaegertracing/jaeger-operator#getting-started);
- Deploy Online Boutique with `JAEGER_SERVICE_ADDR: "<name_of_jaeger_resource>-collector: 14268"` (`kubectl ap

[2021-05-03 18:26] askmeegs opened #538 "Possible memory leak in NodeJS / Python services"
Uptime checks for the production deployment of OnlineBoutique have been failing once every few weeks. Looking at `kubectl events` timed with an uptime check failure --

[code]

It looks like memory requests are exceeding their limit. There seems to be plenty of allocatable memory across the prod GKE nodes
<img width="1400" alt="Screen Shot 2021-05-03 at 1 55 56 PM" src="https://user-images.githubu

[2021-05-12 10:59] trebi opened #543 "DNS lookup error when trying to run application locally using minikube"
I am trying to run this project locally, thus following the development guide: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/docs/development-guide.md

After I successfully set up minikube (using virtualbox driver, but I tried also hyperkit, however the results were the same) and execute skaffold run, after some time it will end up with following error:

[code]

The error m

[2021-05-14 11:22] trebi commented on #543
Ok found out that it actually works with the default `docker` driver. I was initially trying `virtualbox` and `hyperkit` and both of them encounter DNS issues during `skaffold build` process.

[2021-05-14 11:22] #543 closed

[2021-05-16 04:03] zhaocheng173 opened #544 "How do I integrate registries with these microservices"

[2021-05-18 17:35] bourgeoisor commented on #544
Hi @zhaocheng173, thank you for your question. Could you provide us with more details on what exactly you're trying to accomplish so we can help you further?

[2021-05-19 11:07] ocervell opened #548 "LoadBalancer vs Ingress resource type"
I noticed we're using the `LoadBalancer` type for the `frontend` service YAML [here](https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/kubernetes-manifests/frontend.yaml#L105) which is the only external-facing entry point.

Any idea why we're not using `Ingress` k8s type instead ?

As a reminder, `Ingress` type - on most Clouds - will create an external HTTP(s) load balancer, w

[2021-05-20 01:38] ahmetb commented on #548
Historical reason was that:

1. ingress doesn't work locally
2. ingress takes very long (10-20 mins) to be ready on GKE as it's a global GCLB.

Neither was really attractive. But you can always add one in your local setup/fork.

[2021-05-21 16:52] askmeegs commented on #548
I second @ahmetb's second point - for demo purposes, services of type loadbalancer spin up faster.
That said, we do have Ingress resources in the repo -- https://github.com/GoogleCloudPlatform/microservices-demo/tree/master/.github/master-cluster which we use to map the onlineboutique.dev domain to a "production" instance of this app.  Feel free to use these.

[2021-05-21 16:52] #548 closed

[2021-05-26 00:53] m-d-johnson opened #552 "Seeing rate limit messages when building/deploying to minikube"
Hi.
I am trying to deploy on a Ubuntu 20.04.2 VM with minikube installed.
I'm seeing:
[code]
I can `docker build` and just about get things running, but trying to do this via `skaffold run` fails on rate limiting. Do I need to provide skaffold with docker creds in some way?

[2021-05-29 00:57] m-d-johnson commented on #552
So, it turns out that something weird was going on with my Docker subscription and having provided docker with creds *and the account working properly* it started working. Closing.

[2021-05-29 00:57] #552 closed

[2021-06-03 22:41] adamjsr commented on #484
Seeing the same with a 5-node v1.21.1 OSS K8s cluster on CentOS7 in EC2 (t3.small) and a 3-node v1.18.19 OSS K8s cluster in EC2 Amazon Linux (t3.2xlarge).

[2021-06-08 18:05] adamjsr commented on #484
Signed up for GKE and got it to work, although the loadgenerator crashed and restarted a half-dozen times before the pods stabilized.  The cart service also crashed several times before stabilizing.

[2021-06-09 04:20] minhdang241 commented on #302
it solved the problem. Thank you very much!!!

[2021-06-09 20:02] j-windsor opened #555 "`skaffold debug` on sample result in status check failure in loadgenerator"
Since the loadgenerator Dockerfile has a bash script as the entrypoint and is not a pure python command, the skaffold python debugger is unable to detect python sessions to debug. When a bash script is called as the entrypoint that in turn calls python code, running skaffold debug will result in error `launching python debugging: unable to determine python version from \"/bin/bash\".`

[2021-06-09 20:04] j-windsor opened #556 "Go services are not ready for dlv or skaffold debugging"
Dlv is not setup in the go Dockerfiles, making it impossible to debug these services through skaffold debug.

[2021-06-11 15:45] jkowall commented on #422
Checking in on this issue, do you expect to update to Otel still? Thanks.

[2021-06-14 14:52] jessberg opened #559 "Adservice gets connection reset by peer"
I am running the demo on GCP with Istio installed, and I'm using my own load generator that has 1500 users instead of the current load generator's 10.  After roughly 3 minutes of running, I stop getting regular responses and only get 503:  Service Unavailable.  I looked in the logs and it seems like it is due to an error in Adservice.  The logs for Adservice repeatedly say
[code]
I believe the 426

[2021-06-14 16:13] mathieu-benoit commented on #559
I'm also getting this error with `adservice`:
[code]
[code]

More information about my setup in case that could help:
- GKE 1.20
- Workload Identity enabled
- I'm also deploying this service with both `DISABLE_STATS` and `DISABLE_TRACING` set to `1` as value

[2021-06-16 13:16] jessberg commented on #559
Yes, I'm deploying with GKE 1.20 as well.  I also run istio with the command
[code]
I am deploying with DISABLE_STATS and DISABLE_TRACING commented out.  Is there any other information that would be useful about my setup?

[2021-06-17 20:08] #555 closed

[2021-06-17 20:22] #556 closed

[2021-06-20 16:04] askmeegs opened #561 "Cartservice failing on skaffold run"
Happening both locally and on the latest master branch deploy tests.

[code]

neither of the last two PRs modified cartservice or redis.

[2021-06-20 16:13] askmeegs commented on #561
Update - after running the latest master commit locally a few times w/ skaffold dev, it doesn't fail every time. sometimes cartservice recovers --

[code]

[2021-06-20 16:23] askmeegs commented on #561
Re-running the master build, now the pods start up successfully but the smoke test is failing because the loadgen is throwing 9 errors --

<img width="621" alt="Screen Shot 2021-06-20 at 12 21 32 PM" src="https://user-images.githubusercontent.com/3137106/122681394-246e4880-d1c2-11eb-8892-40ff5388616c.png">

[2021-06-21 04:53] evekhm opened #563 "Recommendation Service is crashing after initial deployment"
![Screenshot from 2021-06-20 21-46-46](https://user-images.githubusercontent.com/10014695/122708503-2ca1a480-d211-11eb-95bd-bdb2c47fb69f.png)

Started following way:
* minikube start --cpus=4 --memory 4096 --disk-size 32g
* kubectl apply -f release/kubernetes-manifests.yaml
* minikube service frontend-external

Running on: Linux localhost.localdomain 4.18.0-305.3.1.el8.x86_64 #1 SMP Tue Jun 1 16:1

[2021-06-21 06:05] evekhm commented on #563
pod logs:

{"timestamp": 1624255338.1007357, "severity": "INFO", "name": "recommendationservice-server", "message": "initializing recommendationservice"}
{"timestamp": 1624255338.1008198, "severity": "INFO", "name": "recommendationservice-server", "message": "Profiler enabled."}
WARNING:google.auth.compute_engine._metadata:Compute Engine Metadata server unavailable onattempt 1 of 3. Reason: timed

[2021-06-21 06:54] evekhm commented on #563
I believe Instructions for Local deployment really needs improvements.
I have create a service account and have stored keys and used GOOGLE_APPLICATION_CREDENTIALS, however still having issues.

![Screenshot from 2021-06-20 23-53-52](https://user-images.githubusercontent.com/10014695/122719250-cb82cc80-d222-11eb-9383-b7445104d254.png)

[2021-06-21 13:15] sadikekin commented on #563
Do you need to use Google keys? You can disable the Google Cloud usage by uncommenting the following lines for each deployment in the`release/kubernetes-manifests.yaml` file.

[code]

[2021-06-21 14:46] niryarden commented on #561
suffering from the same issue, tried to run with [this branch](https://github.com/GoogleCloudPlatform/microservices-demo/pull/562) and it does not seem to fix it ☹️
just running `skaffold dev` again and again until it works

[2021-06-21 17:13] evekhm commented on #563
Thank you for the response! I was wondering if it is possible to connect to gcloud project while doing the local deployment and how would that work. Anybody knows that by chance?
Thank you

[2021-06-21 17:14] evekhm commented on #563
By disabling the livenessProbe of recommendation system I could get the site working, but still not sure how to get it properly fixed.

[2021-06-22 15:33] Shabirmean commented on #563
Thank you @evekhm for raising this. Yes! we are working on improving the documentation around local setup. There is a pending [PR here](https://github.com/GoogleCloudPlatform/microservices-demo/pull/554) which focusses towards explaining this better. It has been kept pending until we finalize some details around the use of `kustomize`.

You can have a look at the docs from the [PR branch](https://

[2021-06-28 03:58] Shabirmean commented on #559
Hi @jessberg,

I see that the loadgenerator tests mainly fail on **productcatalogservice** and the **cartservice**.  I also noticed the following logs in the **productcatalogservice**:
[code]

It looks like that the tracing library is struggling to handle the load. Can you try disabling tracing? You can do this by **uncommenting** _(uncommented means disabled)_ the following setting in the manifes

[2021-06-29 00:19] jessberg commented on #559
Oh, that does make sense.  I disabled tracing by uncommenting the lines in the release/kubernetes_manifest.yaml file on every deployment.  There is no connection reset by peer error, but I still have the following error on adservice
[code]
It looks like I also have another type of error now.  On adservice I've got
[code]
followed by
[code]

[2021-06-29 06:00] lyr5333 opened #569 "Concurrency issues"
I use JMeter to test only 2800tps. I see that redis uses Redis: alpine Is there a bottleneck in Redis. How can concurrency be improved? Thank you very much!

[2021-06-30 05:11] vsrakesh opened #570 "K8S attributes as process tags in tracing data"
This issue is related to OpenCensus support in this project

**Issue Description**
It seems that K8S attributes (namespace, pod-name) are not added as process tags when exporting data to jaeger collector. I hope this is configurable somehow, but I have had no luck in figuring this out. Basically, I'm trying to add HOSTNAME (podName) and NAMESPACE as process tags in tracing span data. My environmen

[2021-07-06 19:59] NimJay opened #574 "Rebrand "Online Boutique" as "Cymbal Shops""
## Background
* Cymbal is a **fictitious** company created by Google to be used in demo apps.
  * Cymbal Shops is a Cymbal subsidiary.
  * Cymbal Shops is an American retail chain headquartered in Minneapolis that sells homeware, electronics, and clothing.
  * More about Cymbal can be learned [at this internal Google site](https://sites.google.com/corp/google.com/cdbsitemapgoogle/home).
* This tas

[2021-07-06 20:14] ahmetb commented on #574
Are we keeping the repo name the same? That would be ideal.

Cymbal is a bit cryptic name, hence it worries me a little bit but if it is decided, that's alright. The internal website is 404ing for me.

[2021-07-06 20:23] NimJay commented on #574
Hello @ahmetb.

Yes, the repo name will be the same (`microservices-demo`). :)

I agree. :)
We'll _likely_ be rebranding, more specifically, as "Cymbal Shop".

This is the exact URL: https://sites.google.com/corp/google.com/cdbsitemapgoogle/home

[2021-07-08 23:34] NimJay commented on #561
## My Investigation Updates
Just adding some findings and thoughts from my investigation:
* I was, fortunately, able to reproduce today on the master branch (47c5f102b7bc81b0e88b948f143a0500eb66692b).
* I used `skaffold dev --default-repo=gcr.io/nimjay-microservices-demo` 5 times, and it failed 3 times with the following error:
[code]
*  My guess right now is the fact that we're simply [using the

[2021-07-13 14:06] #561 closed

[2021-07-15 17:45] askmeegs commented on #459
Closing this for now, as right now most team work happens in Github issues. Feel free to reopen if you feel strongly about adopting this feature. Thanks!

[2021-07-15 17:45] #459 closed

[2021-07-15 17:49] askmeegs commented on #484
Hello! We have just released v0.2.4 which addresses retry logic and stability for both cartservice and the loadgenerator. Hopefully this resolves the startup issues you're seeing. We are also working on supporting non GKE on GCP environments but those will likely only include the Anthos  supported environments, including EKS and Anthos on prem Baremetal.

https://cloud.google.com/anthos/deployment

[2021-07-15 17:49] #484 closed

[2021-07-15 17:51] askmeegs commented on #526
Closing as this work is low priority, and also don't want to break any demos using google-samples.

[2021-07-15 17:51] #526 closed

[2021-07-15 17:52] askmeegs commented on #544
Hello @zhaocheng173, thank you for opening this issue but I think we need a bit more context. Closing this issue for now; feel free to reopen with details.

[2021-07-15 17:52] #544 closed

[2021-07-15 17:54] askmeegs commented on #569
Hello, could you please provide some more details on what you mean by "bottleneck?"

When you're load testing with JMeter, what problems are you seeing?

[2021-07-28 07:48] sabotenwork commented on #563
Hi, @Shabirmean
I have a same problem with my local microk8s, and I checked [issue-359 Development Guide](https://github.com/GoogleCloudPlatform/microservices-demo/blob/isssue-359/docs/development-guide.md
),
so started "Option 2 - Local Cluster" step 2.1 to 2.6.

However, recommendationservice pod is crashing...
[code]

Below was also implemented, but the situation remained the same.

If there is

[2021-07-28 20:31] askmeegs commented on #569
Hello, I'm going to close this issue for now due to not enough information about the problem. Feel free to reopen with additional context + logs. Thanks!

[2021-07-28 20:31] #569 closed

[2021-07-28 21:20] NimJay commented on #492
Hi @deesejohn!

Thought I'd let you know: we've recently merged in similar changes to this sample app's predecessor, [Bank of Anthos](https://github.com/GoogleCloudPlatform/bank-of-anthos) ([relevant pull-request here](https://github.com/GoogleCloudPlatform/bank-of-anthos/pull/514)).

Regarding, your question about multi-file vs. single-file:

I think a single-file `skaffold` configuration would b

[2021-07-29 05:33] gsquared94 commented on #492
sure, assign this to me.

[2021-07-29 19:25] therealmitchconnors opened #582 "Missing Trace Header Propagation?"
When I install the Hipster Shop with Istio, and open a Jaeger dashboard, all my traces have only 2 spans (origin and destination).  I believe this is because the hipster microservices are not properly forwarding trace headers, as documented at https://istio.io/latest/docs/tasks/observability/distributed-tracing/overview/#trace-context-propagation.

This application would showcase Tracing much bett

[2021-07-29 19:53] ahmetb commented on #582
This tool does trace context propagation, as I know the folks at Istio team validated their integration with Stackdriver Trace (now called Google Cloud Trace) using this demo application.

However, the processes are not implemented to upload traces to Jaeger; only to Google Cloud Trace. (Browse the source code of any service, you'll see it attempts to connect to GCP to initialize a trace exporter.

[2021-07-30 21:41] therealmitchconnors commented on #582
Maybe I should clarify.  I can see that several of the microservices in hipster shop propagate their own trace spans to Cloud Trace.  However, Istio is designed to add consistent trace spans across all services in a service mesh with no change to the service's implementation.  It does this by capturing all traffic in and out of the pod, and sending the relevant data to whichever tracing service th

[2021-07-30 22:33] ahmetb commented on #582
As far as I know (and historically made sure of it), this app picks up and propagates the trace IDs originating from Istio correctly, but it only exports them to Cloud Trace. We demoed this capability on stage at Next'18 Keynote (see Melody/Morgan's segment).

Maybe the trace context header convention has changed since then, but I doubt that's the case.

[2021-08-04 20:49] Shabirmean commented on #477
This could be related to the [linked issue from anthos-samples](https://github.com/GoogleCloudPlatform/anthos-samples/issues/54). The problem there was that the *repo secrets* were not accessible in the forked repos. This issue was fixed with a workaround in this [anthos-samples PR](https://github.com/GoogleCloudPlatform/anthos-samples/pull/74).

I'd probably check if the issue here _(staging IP c

[2021-08-06 17:57] Jayashankara-DM-135 opened #585 "Unable to run this service on Local Kubeadm k8s cluster"
$ sudo kubectl get pod
sudo: unable to resolve host k8s-master-node: Connection timed out
NAME                                     READY   STATUS                  RESTARTS   AGE
adservice-5844cffbd4-k2m5k               0/1     Running                 4          4m56s
cartservice-fdc659ddc-b2qsc              0/1     CrashLoopBackOff        5          4m57s
checkoutservice-64db75877d-n29bj         1

[2021-08-06 18:00] ahmetb commented on #585
The error messages look like your Kubernetes setup is broken. Try `kubectl get nodes` and it probably won't work either.

[2021-08-06 18:00] #585 closed

[2021-08-06 18:53] Jayashankara-DM-135 commented on #585
No, I can get nodes details.
$ sudo kubectl get nodes
sudo: unable to resolve host k8s-master-node: Connection timed out
NAME                STATUS   ROLES    AGE    VERSION
k8s-master-node     Ready    master   126m   v1.19.2
k8s-worker-node-1   Ready    <none>   125m   v1.19.2

$

[2021-08-06 18:53] Jayashankara-DM-135 commented on #585
Looks to issue with pulling redis image. Not sure why redis image pull is failing.

$ sudo kubectl describe pod redis-cart-74594bd569-n879h
sudo: unable to resolve host k8s-master-node: Connection timed out
Name:         redis-cart-74594bd569-n879h
Namespace:    default
Priority:     0
Node:         k8s-worker-node-1/10.0.2.6
Start Time:   Fri, 06 Aug 2021 23:15:49 +0530
Labels:       app=redis-ca

[2021-08-07 11:46] sabotenwork commented on #563
Hi, @askmeegs, thank you for your attention.
and I misunderstood what directory skaffold was reading the configuration file from.
I tried injecting the environment variable directly with the following command, and the error was resolved.

[code]

I had been changing `release/kubernetes-manifests.yaml` for a long time,
but skaffold was reading `./kubernetes-manifests/recommendationservice.yaml`.
By

[2021-08-07 12:42] Jayashankara-DM-135 opened #586 "CartService keep on crashing"
Issue: Cart service is unable to connect to Redis server even those Redis is up and running.

Setup: I am running on-prem kubernetes cluster using kubeadm

Logs:
===================
$ sudo kubectl logs cartservice-76c7dcdf79-ft4sl
sudo: unable to resolve host k8s-master-node: Connection timed out
**_Connecting to Redis: redis-cart:6379,ssl=false,allowAdmin=true,abortConnect=false
Wasn't able to co

[2021-08-07 12:44] Jayashankara-DM-135 commented on #586
$ sudo kubectl logs redis-cart-85478974d5-qxc55
sudo: unable to resolve host k8s-master-node
1:C 07 Aug 2021 12:21:02.523 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
1:C 07 Aug 2021 12:21:02.523 # Redis version=6.2.5, bits=64, commit=00000000, modified=0, pid=1, just started
1:C 07 Aug 2021 12:21:02.523 # Warning: no config file specified, using the default config. In order to specify a config

[2021-08-07 12:47] Jayashankara-DM-135 commented on #586
I am running on-prem kubernetes cluster using kubeadm

[2021-08-07 18:22] ahmetb commented on #586
Same with #585, you have issues in your cluster. This time the networking seems to be the problem. I highly doubt it has anything to do with the demo.

I recommend you get a Kubernetes cluster in a good shape first.

[2021-08-07 18:22] #586 closed

[2021-08-08 17:01] Jayashankara-DM-135 commented on #586
I am able to access the redis-cart pod  form outside. Not sure why CartService is not able access. Can you please suggest what could the reason and some debugging steps to figure it out

[2021-08-09 06:47] subfuzion opened #587 "Update for Autopilot"
Update sample to include instructions and detail for GKE Autopilot.

(Google internal: b/195753053)

[2021-08-09 20:47] #587 closed

[2021-08-11 17:34] askmeegs commented on #563
Thank you for this update! I will close this issue for now - note that we do still plan to add a local development Kustomize profile to make this easier, in the future.

[2021-08-11 17:34] #563 closed

[2021-08-12 14:13] askmeegs opened #591 "Base CPU/Memory Requests on Actual Usage"
Original issue title: Adjust CPU/Memory requests based on actual resource footprint

1) Analyze a running version of Online Boutique to determine the actual CPU / Memory usage of each service
2) Adjust CPU/Memory requests + limits in the Deployment YAMLs as needed
3) Document the overall CPU / Memory usage of the app

[2021-09-02 18:14] abitrolly commented on #220
@ibenrodriguez the answer to your question at https://github.com/GoogleCloudPlatform/microservices-demo/commit/b44d855e5c5879c80435c0891abadd3c5b246043 is LucidChart.

But maybe you want https://github.com/mingrammer/diagrams - if your company can sponsor the guys to help them with maintenance, that would be appreciated a lot.

[2021-09-12 19:35] askmeegs commented on #359
Closing this in favor of the larger tracking bug for kustomize support, including for off GCP development (eg. Kind). https://github.com/GoogleCloudPlatform/microservices-demo/issues/536

[2021-09-12 19:35] #359 closed

[2021-09-13 16:35] askmeegs commented on #538
Was unable to find the root cause of the NodeJS memory leak after a few weeks of testing. Needs a Node expert or someone else to further investigate. Internal doc with my notes so far: https://docs.google.com/document/d/1gyc8YvfKwMr86wzY_cz1NICQU48VE-wXifqjDprAafI/edit?resourcekey=0-g04_Kba4MQjeXDFzsp-Bqw

[2021-09-15 05:49] gldraphael opened #597 "Free shipping doesn't work as advertised"
![image](https://user-images.githubusercontent.com/10794213/133376560-85c47f46-c69a-414f-8a42-fd655b43a287.png)

[2021-09-17 07:13] zhlsunshine opened #599 "C# Library StackExchange.Redis Missing IPv6 Support"
C# library `StackExchange.Redis` for demo service `cartservice` can not support IPv6. Below are some detail information:

All microservice pods are running well, except `cartservice`
[code]
And error logs shows as below:

[code]

After my investigation,  this was caused by C# library of StackExchange.Redis which can not support IPv6. However, I also notice that there is a repo for IPv6: https://ww

[2021-09-18 00:06] ahmetb commented on #599
Sounds like you should follow up with the library itself? But it also could be a Kubernetes/cluster issue. Not sure how much we can do here to address it especially if the IPv6 specific library also doesn’t work for you.

[2021-09-21 15:49] NimJay commented on #597
I think this "free shipping" promise is worth fixing.

## BOGO Ads

But somewhat related to this are these other "buy _x_, get (_x_+1)<sup>th</sup> free" false advertisements that show up at the bottom of product pages:
<img width="643" alt="Screen Shot 2021-09-21 at 10 46 08 AM" src="https://user-images.githubusercontent.com/10292865/134192955-192dbd72-4730-4161-8367-dcd73607d9fd.png">

There's 3

[2021-09-23 16:44] NimJay commented on #492
Hi @gsquared94,

So sorry for the back-and-forth, but we've decided to take this task on ourselves.
Let me know if that's okay. :)

I'll assign it to myself.
I might request a quick review from you for the associated pull-request.

Thanks again!

[2021-09-24 15:23] tspyrou opened #601 "load balancer failure in context of GCP tutorial on Kubernetes"
![image](https://user-images.githubusercontent.com/46945466/134700114-c0e9bd88-5b57-4876-856e-d91a87057ab9.png)

I am learning GCP Kubernetes and was wondering if this is a known issue with the tutorial.

[2021-09-24 20:57] donmccasland commented on #601
Hey there!  Thanks for flagging this.  Can you point us to the tutorial you were using when you ran into it?

[2021-09-27 03:21] bourgeoisor commented on #601
I've deployed `microservices-demo` using the same steps as the [GKE Quickstart](https://console.cloud.google.com/getting-started?tutorial=gke_quickstart) and [GKE Autopilot Quickstart](https://console.cloud.google.com/getting-started?tutorial=gke_autopilot) tutorials and haven't been able to replicate this failed event. In both scenarios, I see the LB getting created correctly:

[code]

Screenshot

[2021-09-29 17:44] NimJay opened #604 "Error when Docker-building emailservice"
Running `docker build` against the `emailservice` produces the following error:

[code]

[2021-09-29 17:54] NimJay commented on #604
Clearing my cache as suggested by [this StackOverflow post](https://stackoverflow.com/a/65524014) fixed the issue for me.

[2021-09-29 17:54] #604 closed

[2021-09-30 14:32] NimJay commented on #574
The work for this issue is complete and included in release v0.3.0.
Closing.

[2021-09-30 14:32] #574 closed

[2021-10-05 19:33] NimJay commented on #601
Hi @tspyrou. 🙂

Are you able to provide the full error message?
[code]

I am wondering if it was a quota issue (see [relevant Reddit post](https://www.reddit.com/r/googlecloud/comments/lxi9wv/error_syncing_load_balancer/))?

[2021-10-07 11:54] stevenkaspar opened #608 "Question - Does the Quickstart use Istio?"
I'm trying to learn about istio, so I stood up the Autopilot K8s cluster yesterday

But after more reading and digging through the manifests it seems the main steps to deploy to GKE doesn't use istio at all

Is that correct? It looks like there are [separate steps for enabling istio](https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/docs/service-mesh.md)

[2021-10-10 21:52] #608 closed

[2021-10-11 19:29] #601 closed

[2021-10-12 04:57] zhlsunshine commented on #599
Hi @ahmetb,  I do not think there are something wrong with Kubernetes/cluster issue, I have debugged other services of this demo and it's okay for them, except `cartservice` which use C# library `StackExchange.Redis`.  And the reason is that  `cartservice` can not listen on IPv6, so make it easier,  `cartservice` as a webservice should be able to listen on [::1] IPv6 format.
However, thank you for

[2021-10-13 15:37] ahmetb commented on #599
Ah, the interface binding makes sense. I think the patches would be appreciated if there's an easy fix.

[2021-10-19 19:32] NimJay opened #612 "Document Microservice API/Endpoints"
In Bank of Anthos, there is a `README.md` file for each microservice detailing the endpoints, environment variables, and other info about the respective microservice (e.g., see [README.md for userservice](https://github.com/GoogleCloudPlatform/bank-of-anthos/tree/master/src/userservice#readme)).

We want to do something similar with this sample app (microservice-demo).

[2021-11-03 17:19] NimJay opened #614 "Additional Cymbal Front-end Tweaks"
* #574 was completed in Sept 2021.
* Related to #574, the Cymbal team suggested a few additional improvements in Oct 2021 that might be worth adding:
  - [ ] "Hover" and "press" states for buttons (see [Google-internal Figma comment](https://www.figma.com/file/UlhTLEvRFIw8vK5wAzD7Vq?node-id=208%3A1456&fuid=992140796602883105#120736975))
  - [x] "Online Boutique" logo color change (see [Google-inte

[2021-11-05 17:29] saswatmohanty01 opened #615 "Missing Database in Multi-cluster with Istio"
Original title of this issue: Cart services in multi cluster istio mode does not keep cart details while refresh browser

Cart services deployed in two Kubernetes cluster with isio has issues as there is no database , session switch between clusters and cart is empty and next refresh cart shows the correct number. Might need something with common database . Is there any fix for it.

[2021-11-05 17:35] mathieu-benoit commented on #615
What about leveraging an external service for the `redis` database? Like for example the Memorystore (redis) service? https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/docs/memorystore.md

[2021-11-05 17:47] saswatmohanty01 commented on #615
Thanks for your response but I am testing this on-prem which is outside GCP.

[2021-11-09 13:07] askmeegs commented on #615
Hello, if you're using Istio on-prem, could you set up multicluster service discovery and just have one instance of Redis in one cluster? And route the other cluster's cartservice to it? https://istio.io/latest/docs/setup/install/multicluster/multi-primary/#enable-endpoint-discovery

[2021-11-09 20:56] NimJay opened #617 "Upgrade Istio manifest apiVersion"
* The Istio manifests (`.yaml` files) currently use `apiVersion: networking.istio.io/v1alpha3`.
https://github.com/GoogleCloudPlatform/microservices-demo/blob/884439c7437cab8d66da4657d8043278e01c33dc/istio-manifests/frontend.yaml#L15
* We want to upgrade the `apiVersion` to `networking.istio.io/v1beta1`.
* According to [this discuss.istio.io thread](https://discuss.istio.io/t/is-api-version-networ

[2021-11-10 15:31] NimJay commented on #617
I have deprioritized this issue from `p2` to `p3` because another Googler suggested that this might be a waste of time because `v1alpha3` and `v1beta3` are identical.

[2021-11-11 08:42] VictorNM opened #619 "CurrencyService and PaymentService failing on skaffold run"
Running `skaffold run` on branch `master` and `v0.3.0` produce error when build CurrencyService and PaymentService like below:

[code]

[code]

Seem like this change in currencyservice/Dockerfile and paymentservice/Dockerfile will fix the error
From:
[code]

To:
[code]

[2021-11-11 15:40] ckim328 commented on #619
Hi! Could you give us more info on your environment? (Docker version, OS)

[2021-11-11 16:09] NimJay commented on #619
@ckim328 and I were able to reproduce this issue — so we no longer need the environment details! :)
Thanks so much for reporting this issue and suggesting a solution, @VictorNM!
I'll be working on a PR sometime today.

[2021-11-11 17:07] NimJay commented on #619
It looks like this issue is identical to https://github.com/GoogleCloudPlatform/microservices-demo/pull/616.

[2021-11-11 18:44] julianwagle commented on #619
Yes, same issue! Interesting solution put forward here. Does anyone know the benefits of using py-pip as opposed to python2? If there are known benefits, I would be more than happy to change my push request.

[2021-11-11 20:31] NimJay opened #620 "Fix Cloud Profiler in Node.js Microservices"
* [Cloud Profiler](https://cloud.google.com/profiler) is used by almost all microservices:
* Here's an example of the `currencyservice` using Cloud Profiler:
https://github.com/GoogleCloudPlatform/microservices-demo/blob/884439c7437cab8d66da4657d8043278e01c33dc/src/currencyservice/server.js#L22

* The Cloud Profiler looks like the following for the `currencyservice` and `paymentservice`:
  <img wi

[2021-11-11 21:01] NimJay commented on #619
Hi @julianwagle!
First, thanks so much for creating #616!
Your PR (along with Victor's fix) inspired us the create #621 — which just uses `python3`.
@ckim328 and I decided on `python3` — since `python2` is [no longer maintained](https://www.python.org/doc/sunset-python-2/). But we're not Python experts. 🤷‍♂️  And it's unclear if `python` is even needed in this Dockerfile anymore.
If you update #61

[2021-11-11 21:27] julianwagle commented on #619
Sounds like a great idea! Thanks for reaching out with the above response. I went ahead and edited #616 - a merge would be appreciated if it's not a burden. Thanks again!

[2021-11-12 03:12] zwan2 opened #622 "AARCH64-bit issue in adservice when using minikube local build"
[code]

[2021-11-12 13:22] NimJay commented on #619
Fixed in https://github.com/GoogleCloudPlatform/microservices-demo/issues/619. Closing this issue. Thanks, all!

[2021-11-12 13:22] #619 closed

[2021-11-12 17:26] ckim328 commented on #622
Hello! Thanks for bringing this up!!
At first glance, it seems like it might be a minikube issue,
could you specify your environment (os, minikube version, anything else that may be relevant)?
Thanks!

[2021-11-13 10:33] ezemegwara opened #623 "service name change"
I want to rename some services for test I am working on in Linkerd, so  instead of using `adservice` in services.yaml, I will have `adservice-east`. so the `frontend` will send request to `adservice-east` instead of `adservice`

I am not a GO programmer, I would be grateful if anybody can point me where this can be done in the `frontservice` source code

[2021-11-13 11:55] zwan2 commented on #622
- `m1` mac  Big Sur 11.6x
- minikube:latest using docker

It may be resolved when x86 condition

[2021-11-17 15:18] askmeegs commented on #623
Hello! The backend addresses are configurable in the frontend Deployment YAML. You should not have to change any of the frontend go code.
https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/kubernetes-manifests/frontend.yaml#L68

[2021-11-17 15:18] #623 closed

[2021-11-17 20:15] askmeegs commented on #591
Bumping down to a P3.

[2021-11-18 09:55] jxlwqq commented on #622
Does not support deployment it under **arm64** architecture, such as **Apple chip's Mac**, **Raspberry Pi**.

[2021-11-18 19:04] NimJay commented on #622
**tl;dr** - We will not be (_consciously_) supporting the deployment of our microservice sample images on ARM anytime soon. I say "consciously" because you might still be able to build the Docker images locally (and target ARM) and get them to deploy on ARM machines.

---

Hi @zwan2 and @jxlwqq!
Thank you for raising this issue! 😁

We've actually been talking about ARM support a lot recently. This

[2021-11-18 19:35] bourgeoisor commented on #622
Not fully supported yet, but note that you can alternatively use `docker buildx` from your ARM machine to build amd64 images: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images

We're currently investigating the use of ARM chips by developers to build our sample applications.

[2021-11-18 23:16] atan4583 commented on #297
@daniel-sanche , this problem has reappeared. It was fine the week before but the error appears this week.
[k8log-adservice.txt](https://github.com/GoogleCloudPlatform/microservices-demo/files/7566651/k8log-adservice.txt)
.

[2021-11-19 16:14] askmeegs commented on #385
Hello! Just a heads up that we're still aware of this issue, but fixing it is not high priority this quarter due to Jaeger being open-source and not a Google product. We will update when we are able to tackle this. Thanks!

[2021-11-19 22:05] alizaidis opened #628 "Indicate Cloud Region/Location in Front-end"
Adding tutorial to showcase this application running in a multi-cluster, multi-region setup. Need an easy way for the user to tell the location/region of the pod responding to the client request.

Working on a fix for this. PR incoming shortly.

[2021-11-21 04:28] askmeegs commented on #628
Thanks Ali! You may be able to port what we have for this in the Bank of Anthos app.
https://github.com/GoogleCloudPlatform/bank-of-anthos/blob/master/src/frontend/frontend.py#L68

[2021-11-22 19:59] NimJay commented on #570
This issue sounds very similar to https://github.com/GoogleCloudPlatform/microservices-demo/issues/385#issuecomment-829491438.

[2021-11-22 21:12] askmeegs commented on #628
Note to whoever takes this -- let's do cluster, region, and zone for good measure.
If not GKE, list "unknown" for now.

[2021-11-23 19:47] Shabirmean opened #632 "Update the Grpc.AspNetCore, Grpc.Net.Client versions to a stable one"
### What's the issue?

- PR #629 updates the `.NET SDK` to `v6`.
- With that change also comes the requirement to update the versions for `Grpc.AspNetCore` and `Grpc.Net.Client`
- The above requirements is due to [this issue](https://github.com/grpc/grpc-dotnet/issues/1470)
- This issue has been addressed in the next Grpc client release which has a `pre-release` bundle.
- PR #629 whilst updating t

[2021-11-24 19:16] mathieu-benoit commented on #559
Maybe not related but JFYI, I found out what I was doing wrong about my issue mentioned earlier in this thread https://github.com/GoogleCloudPlatform/microservices-demo/issues/559#issuecomment-860810436. I actually set too low the values of the `resources`.`requests`/`limits` which landed to kill my `adservice` pod. When I set those values back to what it's recommended in there https://github.com/

[2021-11-25 10:12] SapnaGirdhani1 opened #635 "Jaeger Trace shows only 2 spans per trace"
Hi Team,

When I try to trace requests to Online Boutique Application , I can see multiple traces with two spans each. Transaction does not come as single trace. For example, If I hit the application and add a product in cart. I can see multiple traces in Jaeger - loadgenerator to frontend , frontend to productcatalog, frontend to currency and so on. There is no single trace for one transaction.
P

[2021-11-25 20:26] Shabirmean commented on #628
@alizaidis  This is fixes in https://github.com/GoogleCloudPlatform/microservices-demo/pull/636

[2021-11-26 15:14] #628 closed

[2021-11-26 20:10] Shabirmean commented on #538
According to the profiler data for the `currencyservice` and `serviceservice` the `request-retry` package is the one that seems to be using a lot of memory. It is imported by the `google-cloud/common` library that is used by `google-cloud/tracing`, `google-cloud/debug` and `google-cloud/profiler`.

The same behaviour is [reported in the `google-clou/debug nodejs` repository](https://github.com/goo

[2021-11-26 20:29] Shabirmean opened #641 "improvement: add steps/automation to update version in profiler during release"
### Describe request or inquiry
The `@google-cloud/profiler` is used in our services to produce profiling information and to track issue when something is noticed. The profiler is always initialized with a version. This version needs to be updated and maintained with releases of the applications so that whenever we notice a sudden issue with the latest release, we can compare profiling information

[2021-11-26 20:44] Shabirmean commented on #620
Related: https://github.com/googleapis/cloud-profiler-nodejs/issues/533

[2021-11-26 20:48] Shabirmean commented on #620
The reason we were not seeing the data for `Wall time` is because the said services are `idle` for the majority of the time. By hiding the `(idle)` stack we are able to see the stacks for the CPU usage by the rest of the progrsm.

![image](https://user-images.githubusercontent.com/7249208/143635399-c64cdb3c-f5de-4f4f-b7a0-cf78444eed21.png)

[2021-11-26 20:48] #620 closed

[2021-11-29 15:40] Shabirmean commented on #538
One more thing that was noticed is that the `google-cloud/debug` was erroring out with a bunch of `insufficient scopes` errors:

![image](https://user-images.githubusercontent.com/7249208/143894574-6cdb3b5d-0aa7-4674-92d1-1fcd613517ef.png)

This is because the `Cloud Debugger API` access scope is not granted for the `online-boutique-pr` and `online-boutique-master` cluster nodes. Thus, we should c

[2021-11-29 22:04] Shabirmean opened #645 "improvement: fix the cloud debugger errors in nodejs services"
### Describe the bug
- There are several `insufficient scopes` authentication errors in the logs for the **_nodejs services_** in the CI clusters (`onlineboutique-pr` and `onlineboutique-master`)
- This is because that the `Cloud Debugger API` is not accessible from these clusters as these clusters were not created with the necessary access scopes.
- Thus, the nodes that make up these clusters don

[2021-11-30 19:26] askmeegs commented on #1
Reopening to resume the discussion and triage.

[2021-12-03 06:13] abonillabeeche opened #647 "Error on local cluster - Project ID must be specified in the configuration"
### Describe the bug
While trying to deploy on a local cluster, two pods fail because they expect a Project ID.

### To Reproduce
1. git clone repo
2. skaffold run --default-repo=jfrog.privaterepo.com/onlineboutique

The same error is visible when using images/manifests built via `make-release.sh`

### Logs
[code]
The same error is on both currencyservice and paymentservice.

### Environment
MacOS

[2021-12-03 16:50] bourgeoisor commented on #647
The local K8s deployment instructions are here: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/docs/development-guide.md#option-2---local-cluster

From the logs you've posted, it sounds like the GCP Operations tools are attempting to initiate, which shouldn't be the case for local deployments (since there's no GCP projects to initiate those tools in).

Marking this as a bug,

[2021-12-06 20:58] frozenprocess commented on #647
Same error using release `v0.3.2`

@abonillabeeche  try release `v0.3.1` it worked for me.

[2021-12-07 15:20] fty4 opened #650 "misspelled RecommendationService in architecture"
### Issue
The `RecommendationService` is misspelled in the architecture image.

Instead of writing _recommendation_ with two `m`´s its only one.

### To Reproduce
1. open https://github.com/GoogleCloudPlatform/microservices-demo/blob/f703536128463e1327bd67f30e9bdb7160e7931b/docs/img/architecture-diagram.png

### Screenshots
<img width="350px" src="https://user-images.githubusercontent.com/16336640

[2021-12-10 12:37] padyx opened #655 "Vulnerable Log4J version (CVE-2021-44228)"
### Write down your inquiry

I've noticed that this repository includes a version of log4j-core that is vulnerable to a Remote Code Execution in certain constellations.

I propose to upgrade it to the 2.15.0 version.

- Included via: https://github.com/GoogleCloudPlatform/microservices-demo/blob/master/src/adservice/build.gradle#L48
- Apache Security Update: https://logging.apache.org/log4j/2.x/se

[2021-12-10 20:18] Shabirmean commented on #655
Thank you @padyx for catching it and reporting it with the detail 💯

[2021-12-10 21:51] #655 closed

[2021-12-13 04:49] deeeed commented on #647
Same issue here, worked n v0.3.1. Thanks

[2021-12-13 05:12] deeeed commented on #647
Same error for both currency and payment services.
Tried v0.3.1 which solved currency but payment service still didn't work.
Couldn't start the app using skaffold dev.
Is there a way to set the PROJECT_ID in the minikube env?

[2021-12-13 17:26] averikitsch opened #658 "Remove `log4j-core` dependency due to CVE"
### Describe request or inquiry
The java service uses the log4j library which has a report CVE: https://www.ibm.com/blogs/psirt/an-update-on-the-apache-log4j-cve-2021-44228-vulnerability/

This should be removed or updated.

[2021-12-13 17:35] iennae commented on #658
is this a duplicate of 655? or is it still a problem?

[2021-12-13 17:43] averikitsch commented on #658
You are right. This has been fixed.

[2021-12-13 17:43] #658 closed

[2021-12-14 15:52] Shabirmean commented on #538
I create two PRs two generate some profiler data in the CI project for this repo.
- #653 **has the** `google-cloud-debug` agent enabled
- #654 **has no** `google-cloud-debug` agent enabled

These PR had different version tags for the `profiler agent` in the **currencyservice**
- #653 --> `vNew-HasDebug`
- #654 --> `vNew-NoDebug`

You can view the profiler data for these versions under the [profile

[2021-12-14 21:23] ahmetb opened #662 "Switch to Kubernetes builtin grpc health checks"
I recommend doing this when (1) grpc builtin health checks are in a stable Kubernetes version (2) it's been 6 months since that version is released.

Kubernetes now supports builtin grpc health checks for probes, so we can stop using the grpc-health-probe tool I wrote for this project and further cut down external dependencies. It looks like this:

[code]

[2021-12-16 01:01] ahmetb opened #663 "Multiple services crashing out of the box due to missing credentials (local cluster)"
Once I applied the release/kubernetes-manifests.yaml to a local cluster (kind, running kubernetes 1.23.0) I notice that a few pods are crashing, with logs indicating that either "project ID not set" or "cannot initialize credentials".

In earlier versions of this demo app, it worked both locally and on GCP without having to configure anything (such as adjusting the environment variables), and that

[2021-12-20 15:20] yogeek commented on #647
Same error, I ended up by patching (with kustomize) the deployments to disable PROFILING and DEBUGING :
[code]

[2021-12-20 16:56] ahrarmonsur commented on #647
Duplicated by https://github.com/GoogleCloudPlatform/microservices-demo/issues/663 for which a fix is in PR:
https://github.com/GoogleCloudPlatform/microservices-demo/pull/665

[2021-12-29 16:58] NimJay opened #674 "Use `pino` instead of `console.log`"
### Describe request or inquiry

* Both JavaScript/Node.js microservices (`paymentservice` and `currencyservice`) use `console.log`.
* See files:
  * [`/src/paymentservice/index.js`](https://github.com/GoogleCloudPlatform/microservices-demo/blob/80acbf22ce074dce22e03dd38efbf156f88eae99/src/paymentservice/index.js#L21)
  * [`/src/currencyservice/server.js`](https://github.com/GoogleCloudPlatform/mi

[2021-12-29 17:13] NimJay opened #675 "Enforce Consistent Coding Style in Node.js Services"
### Describe request or inquiry

* Let's use a linter such as [`ESLint`](https://eslint.org/) to enforce consistent code style in the JavaScript/Node.js microservices.
* Ideally, consistent code style would be enforced automatically (e.g., via [Google Cloud Build](https://cloud.google.com/build)) during pull-request creation.
* We could use [eslint-config-google](https://github.com/google/eslint-c

[2021-12-30 16:11] askmeegs commented on #647
Fixed by PR #665 - these default manifest changes (removing GCP integrations by default) will land in the next release.

[2021-12-30 16:11] #647 closed

[2021-12-30 16:16] askmeegs commented on #559
Closing this issue as possibly a non-Istio related bug, that instead may be related to insufficient resource requests + limits for the services. @jessberg  please reopen if you adjust your resource requests and you're still seeing this problem. Thanks!

[2021-12-30 16:16] #559 closed

[2022-01-06 10:00] google-cloud-policy-bot[bot] opened #676 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2022-01-09 15:59] askmeegs commented on #663
This bug was fixed by #665  and the updated YAML files will be in the next release.

[2022-01-09 15:59] #663 closed

[2022-01-10 14:20] prune998 opened #681 "cut a new 0.3.5 release from main, please"
### Describe the bug
Some services (Payment, for sure) does not have options to disable google-specific tracing/profiler. Payment service is crashing if the cluster is not in GCP.

### To Reproduce
start Payment service in a K8s cluster not on GCP

### Logs
[code]

### Environment
EKS cluster

### Additional context
The code is already changed in the repo, you only need to cut a new release and re

[2022-01-10 15:51] jyee opened #682 "Adservice container images <v0.3.4 deleted"
It appears that old build images of the adservice have been deleted.
See https://console.cloud.google.com/gcr/images/google-samples/global/microservices-demo/adservice
As I'm writing this, the only available container image for the adservice is v0.3.4.

Note that this will cause anyone using an older verson of `release/kubernetes-manifests.yaml` to receive a failure.
The adservice pod will end up

[2022-01-10 16:15] jyee commented on #682
Ah, nevermind. I just found the note about pulling the old images due to the Log4j issue.

[2022-01-10 16:15] #682 closed

[2022-01-10 16:15] NimJay commented on #682
Great question, @jyee! :)
And yes, there is a reason older builds/images were removed.
[`adservice` uses Log4j](https://github.com/GoogleCloudPlatform/microservices-demo/blame/master/src/adservice/build.gradle#L48).
We deleted versions of the `adservice` image that were using old versions of Log4j.

We're really sorry for the inconvenience. :(
But our rationale was: we'd rather break existing cont

[2022-01-10 16:23] jyee commented on #682
100% agree with your decision. It's much better to be inconvenienced than at risk!
Thanks for helping everyone be secure!

[2022-01-10 21:33] NimJay commented on #681
We've just created a new release (`0.3.5`).
So I'm closing this issue.
Thanks for creating this issue, @prune998! :)

[2022-01-10 21:33] #681 closed

[2022-01-10 23:25] prune998 commented on #681
thanks @NimJay !

[2022-01-11 14:59] CapacitorSet opened #685 "Timeout when not running on GCE"
### Describe the bug
When the application is deployed on [Kind](https://kind.sigs.k8s.io/) (and, I believe, any non-GCE platform), requests time out.

I think the root cause is that the frontend calls `getDeploymentDetails` on every request, which uses `cloud.google.com/go/compute/metadata` and makes a request to `http://169.254.169.254/computeMetadata/...`. This IP however does not exist on other

[2022-01-12 20:17] NimJay commented on #538
Hi @Shabirmean,

Please correct me if I'm wrong.
We are now just waiting on this issue to be fixed via https://github.com/googleapis/cloud-debug-nodejs/issues/811.
Judging from [Ben Coe's comment](https://github.com/googleapis/cloud-debug-nodejs/issues/811#issuecomment-998955180), this is something they plan to fix.

Is there any action we need to take in the meantime?

[2022-01-12 21:52] Shabirmean commented on #538
Hello @NimJay

There isn't much we can do from our side. I have communicated with Ben and seeing if we can work with the debug team to get that issue (https://github.com/googleapis/cloud-debug-nodejs/issues/811) fixed. Until then, no action is needed/possible from our side. I suggest we keep this issue open!

[2022-01-19 11:30] Pawlaklis opened #690 "Shipping cost zeroes with large product quantities"
### Describe the bug
When adding large quantities of products to Cart shipping costs zeroes because of integer overflow.

### To Reproduce
1. Add at more than about 195 products to Cart.
2. Shipping cost turns to 0,

### Screenshots

![obraz](https://user-images.githubusercontent.com/55978132/150113130-993a9980-a7e7-4bfb-a589-60070824f57d.png)

[2022-01-19 11:59] Pawlaklis opened #691 "Fix shipping cost calculation formula"
### Describe the bug
Right now the cost of shipping is calculated using formula
<img src="https://latex.codecogs.com/svg.image?price&space;=&space;n&plus;3^{1&plus;\frac{n}{5}}" title="price = n+3^{1+\frac{n}{5}}" />

Because of that the costs grows exponential with number of products which is not only very unusual way to calculate shipping but also creates absurdly large numbers.

### To Reproduc

[2022-01-19 20:20] ahrarmonsur commented on #690
Related to https://github.com/GoogleCloudPlatform/microservices-demo/issues/691, both requiring a fix to the shipping cost calculator.

[2022-01-20 15:28] NimJay opened #693 "Use Docker base images to distroless or scratch"
## Background
- This repository uses a lot of `alpine`-based Docker base images (see [relevant search](https://github.com/search?l=&q=alpine+path%3A**%2FDockerfile+repo%3AGoogleCloudPlatform%2Fmicroservices-demo&type=code)).
- In light of what happened with Log4j in December 2021, we want to try to shrink the size of Docker base images being used:
  - See Google-internal bug, [b/215516492](https:/

[2022-01-20 18:59] NimJay commented on #691
Thanks for point this out, @Pawlaklis!
@ckim328 has gone ahead and created a solution in #694.
We're just using a fixed shipping cost now to _keep things simple_.

[2022-01-20 18:59] #691 closed

[2022-01-20 19:04] NimJay commented on #690
Thanks for finding this as well, @Pawlaklis! :)
Fixed by @ckim328 in #694. 👏

I've tested with 200 sunglasses:
<img width="550" alt="Screen Shot 2022-01-20 at 2 02 53 PM" src="https://user-images.githubusercontent.com/10292865/150404890-7be9069e-83c5-4505-b302-16fe00df3209.png">

[2022-01-20 19:04] #690 closed

[2022-01-25 14:41] NimJay opened #696 "Remove use of `latest` tag"
## Background

* We want to remove use of the `latest` tag throughout this repository.
* See this [Google-internal bug](https://buganizer.corp.google.com/issues/215517944).
* We are using the `latest` tag in the `main` branch's GitHub Action called "Push and Deploy":
https://github.com/GoogleCloudPlatform/microservices-demo/blob/e1c04f89be61b9af59f6a277539757675b1a60df/.github/workflows/push-deplo

[2022-01-26 00:10] saamalik commented on #685
I can confirm this behavior. I reverted to release `v0.3.1` to get around this. Thx!

[2022-01-28 18:53] prune998 opened #697 "Frontend blocking requests when not in GCP"
### Describe the bug

a request against the `frontend` app when deployed in a non-GCP environment lead to a 2 minutes delay

### To Reproduce

- deploy the whole project in a K8s cluster WITHOUT an API answering on `169.254.169.254:80`. This can be achieved using a K8s cluster out of AWS or GCP, or, like me, using Cilium Network Policies to block such traffic
- curl against the `frontend` service.

[2022-01-28 18:55] prune998 commented on #697
[code]

[2022-01-28 19:23] ckim328 commented on #697
thanks for bringing this to our attention
seems to be related to https://github.com/GoogleCloudPlatform/microservices-demo/issues/685

[2022-01-28 19:28] NimJay commented on #697
FYI - The current workaround is to use version 0.3.1.

[2022-01-31 21:51] julianocosta89 commented on #422
Hello all,
if someone else comes across this ticket, I've forked and instrumented the Online Boutique with OpenTelemetry:
https://github.com/julianocosta89/microservices-demo

I've added an OpenTelemetry Collector and Jaeger to it as well.

I've also removed the OpenCensus and Cloud Operations (Stackdriver).
All the changes are documented in this PR:
https://github.com/julianocosta89/microservices

[2022-02-01 18:31] jkowall commented on #422
We did the same, here is the fork with lots of Otel added. https://github.com/logzio/microservices-demo

[2022-02-01 19:14] NimJay opened #703 "Use Single `log` Object in `frontend` Service"
### Describe request or inquiry
* This was inspired by [a thread in pull-request 699](https://github.com/GoogleCloudPlatform/microservices-demo/pull/699/files#r796202144).
* Let's create a `log = logrus.New()` object in a new/separate `logger.go` file.
* This `log` object will be reused across the `frontend` service.

### What purpose/environment will this feature serve?
* This is just a clean-up.

[2022-02-02 15:25] prune998 commented on #697
thanks @NimJay for putting the PR up ! Can't wait !

[2022-02-02 15:43] #697 closed

[2022-02-02 17:42] NimJay commented on #685
@CapacitorSet Thanks so much for reporting this issue — and for doing some root cause analysis. :) That helped a lot.

We just released `v0.3.6` of `microservices-demo` (Online Boutique) which should work fine on Kind (and other non-GCP clusters).
Sorry it took some time!

[2022-02-02 20:44] #685 closed

[2022-02-08 14:36] donmccasland commented on #427
This is now on the sample app roadmap

[2022-02-08 17:59] NimJay opened #712 "Remove `semistandard`"
### Describe request or inquiry
* Both Node.js services import [semistandard](https://github.com/standard/semistandard) as an npm `devDependecy`.
* But I don't think any developers of this repo actually uses it.
* Services affected:
  * currencyservice
https://github.com/GoogleCloudPlatform/microservices-demo/blob/d8936827909bcf18d554dce5064671f9465e115e/src/currencyservice/package.json#L24
  * pa

[2022-02-08 20:39] NimJay opened #713 "Remove `pyyaml==6.0` as Direct Dependency"
### Describe request or inquiry
* This is regarding the Python services, `recommendationservice`.
* See https://github.com/GoogleCloudPlatform/microservices-demo/pull/711.
* In the above pull-request, we updated the (indirect) dependency `pyyaml` to `6.0` by adding it to the `requirements.in` file (as a "direct" dependency) and specifying the version we want (`6.0`).
* `recommendationservice` was

[2022-02-10 19:56] bourgeoisor commented on #375
Started working on this here: https://github.com/GoogleCloudPlatform/microservices-demo/pull/716

Note that this might be a tough change, since a lot of external content relies on being able to do `kubectl apply -f ./release/kubernetes-manifests.yaml` (the one-file manifest)

[2022-02-12 00:20] bourgeoisor commented on #536
This is planned and in our roadmap for 2022.

[2022-02-14 02:22] QAInsights opened #721 "Broken URL `go/microservices-demo`"
### Describe the bug
Broken URL in `README.md` `[go/microservices-demo](http://go/microservices-demo)`

### To Reproduce
1. Click on [go/microservices-demo](http://go/microservices-demo) on README.md
2. User will get `This site can’t be reached`

### Logs
NA

### Screenshots
![image](https://user-images.githubusercontent.com/2826376/153789103-cbbae71a-54d4-4634-8988-13ff684cf85e.png)

### Environm

[2022-02-14 13:58] ckim328 commented on #721
Hi @QAInsights,
Thanks for contributing to our repo!
[go/microservices-demo](go/microservices-demo) is actually an internal link (only accessible to Googlers)

Closing this issue

[2022-02-14 19:48] ksingh7 opened #722 "Adservice not serving ads when deployed outside of GKE"
### Describe the bug

This is a great demo, thanks Team Google.
I deployed this and was  visualizing the requests from all the services. Everything looks good, except the adservice which does not invoked from any frontend call.

So i am wondering if adservice is really in use.

### To Reproduce

1. Deploy the demo
2. Verify if adservice is functional

### Logs

[code]

### Screenshots

![image](ht

[2022-02-14 19:50] ksingh7 commented on #722
Or maybe if can ask from the frontend what's the way to see ads powered by adservice ?

[2022-02-14 19:53] ksingh7 commented on #722
The main diagram in readme file shows that Frontend invokes adservice, can someone point me where on frontend i can see ads ?

[2022-02-14 20:04] ksingh7 commented on #722
Logs from adsservice pod
[code]

[2022-02-15 06:15] bourgeoisor commented on #722
Hi, great question! Could you provide some context on the visualization you've provided and where it comes from?

The frontend talks to the adservice via RPC calls, with the chain starting here: https://github.com/GoogleCloudPlatform/microservices-demo/blob/6b25a1a4f577b11cf0051505491ac128b2bf651f/src/frontend/handlers.go#L114

The connection is done here: https://github.com/GoogleCloudPlatform/mi

[2022-02-15 09:41] Fengrui-Liu commented on #635
Same problem!

[2022-02-15 20:49] NimJay commented on #722
Thanks for your input, @bourgeoisor. I think you covered everything. :) Not much to add from my end.

I just deployed Online Boutique on a Kind (non-GCP) cluster.
I got the similar errors in the `adservice`:
[code]

But the ads were displaying fine in the front-end:
![Screen Shot 2022-02-15 at 3 39 59 PM](https://user-images.githubusercontent.com/10292865/154145448-c656639a-8bbd-4b9c-ab2c-37726799

[2022-02-23 21:09] ckim328 opened #725 "Enable dependabot to use pip-compile by default"
### Describe request or inquiry
When dependabot creates a PR update in our python microservices, currently it defaults to updating our generated `requirements.txt`, however our `requirements.in` are the files that actually specify the dependency
We saw this behavior in https://github.com/GoogleCloudPlatform/microservices-demo/pull/717, which had to be addressed in a manually created [PR](https://g

[2022-02-23 22:45] forking-renovate[bot] opened #728 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency cachetools to v4.2.4
 - [ ] chore(deps): update dependency charset-normalizer to v2.0.12
 - [ ] chore(deps

[2022-02-24 10:01] #676 closed

[2022-02-25 02:33] cc4i opened #738 "The doc of GCP Instrumentation is out of date"
### Write down your inquiry

In the doc it instructs you to change value for specific environment, such as following:

- name: DISABLE_TRACING
value: "1"

Change to =>>>
- name: DISABLE_TRACING
value: "0"

However actually it should remove that environment from deployment manifest as per code, I suggest should change the doc to remove those environment variables instead.

[2022-02-26 16:48] IamShubhamGupto commented on #401
@JohnGDev
Could you elaborate?

[2022-02-28 16:00] bourgeoisor commented on #725
PR merged and I just asked Renovate to re-run in this repository (it might take an hour or two). Closing.

[2022-02-28 16:00] #725 closed

[2022-02-28 19:58] #738 closed

[2022-03-01 13:50] NimJay commented on #722
Hi @ksingh7!
I'm going to assume (due to inactivity) that you no longer need help on this ticket.
Please feel free to re-open if you do. :)
Closing. Thanks!

[2022-03-01 17:06] NimJay opened #761 "Update `skaffold` in `cloudbuild.yaml`"
### Describe the bug

* Our `skaffold.yaml` uses `skaffold` "Modules" — added in https://github.com/GoogleCloudPlatform/microservices-demo/pull/609.
* But the our `cloudbuild.yaml` file in the root directory uses `skaffold` **v0.20.0** which doesn't support `skaffold` "Modules".
https://github.com/GoogleCloudPlatform/microservices-demo/blob/8cd3ae52c93b2c5be5808c47bbfba1f8002ea13e/cloudbuild.yaml#

[2022-03-03 21:05] ksingh7 commented on #722
@NimJay  @bourgeoisor
Hey Sorry for delayed response on this

About the Ad-service i will give it a try again, last time when i tried i had this issue that i reported in here.

About how i got the microservices data transafer/communication real-time graph, Answer is , i used https://skupper.io/ dashboard. I have deployed this microservices demo (online botique) across 3 Kubernetes clusters success

[2022-03-03 21:36] ksingh7 commented on #722
@NimJay @bourgeoisor

So i tried ad service again today but do not se any ads in the frontend as well as do not see any traffing moving to ad service

This is deployed on a local k8s environment, not on GKE, so do i need to add any environment variable for Google Credentials as i am getting errors on ads service.

[code]

[2022-03-04 22:03] tiswanso opened #776 "redis-cart service and deployment not using port names causes problems with Istio"
### Describe the bug

In the release manifest, the redis-cart k8s service and deployment don't use [Istio's explicit protocol selection compatible port definitions](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/), e.g. name format `tcp-*`.

When deployed with Istio auto-sidecar injection, the cartservice isn't able to connect to the redis-cart service.

### T

[2022-03-21 20:01] ahrarmonsur commented on #641
@NimJay has this been incorporated in to the roadmap planning for microservices-demo?

[2022-03-21 21:37] NimJay commented on #641
@ahrarmonsur, good question. And no, this has not been incorporated into the [2022 sample app roadmap](https://docs.google.com/document/d/18emYbuVqXvRo2FtbqbZItUskBza4-N4xBNXtRyvfOaY/edit?resourcekey=0-7eQ7ZjEY2eP85qhWZvfqkg#).

It would be a nice thing to have though.
As Shabir mentioned, it could help us during investigations for bugs like https://github.com/GoogleCloudPlatform/microservices-dem

[2022-03-22 02:59] Shabirmean commented on #641
@NimJay - thank you for outlining the options above. All great suggestions

I agree with you on **Option-1**. It might not be worth the investment to take on all that complexity. Also since we always release micro-services together, it's better to keep the versioning also the same.

---
**Options 2 & 3** are both good, but we would want to pick one based on how it would actually get used in a real

[2022-03-25 14:12] NimJay commented on #375
Providing an update to cool it down from our "Out of SLO" list:
This project is still on pause because we still need to think about how we'll deal with the impact this will have on tutorials/docs using Online Boutique (i.e., running `kubectl apply -f ./release/kubernetes-manifests.yaml`).

[2022-04-04 16:18] mathieu-benoit commented on #422
Just adding this new CNCF blog article for reference too: https://www.cncf.io/blog/2022/04/04/learn-opentelemetry-tracing-with-this-lightweight-microservices-demo/.

[2022-04-06 15:02] NimJay opened #797 "Provide Better Guidance in CONTRIBUTING.md"
### Describe request or inquiry
* We receive a lot of incredible external contributions to this repo (from non-Googlers and Googlers outside the team that owns this repo).
* But our current [CONTRIBUTING.md](https://github.com/GoogleCloudPlatform/microservices-demo/blob/release/v0.3.6/CONTRIBUTING.md) file doesn't contain useful information about _how_ to contribute and what to expect when creatin

[2022-04-06 16:54] ckim328 opened #798 "Update to Python 3.10"
### Describe request or inquiry
Currently we are using Python 3.8
Renovate bot generated this PR https://github.com/GoogleCloudPlatform/microservices-demo/pull/770, but images failed to build, and was closed

### What purpose/environment will this feature serve?
This will promote good health of our microservices demo, and keeping it up to date.

[2022-04-06 16:59] #798 closed

[2022-04-12 15:53] NimJay commented on #597
This is a good beginner issue. :)
You can see related code in a slightly similar issue that was fixed, https://github.com/GoogleCloudPlatform/microservices-demo/pull/694/files.
Please ignore my previous comment about the BOGO ads — the BOGO ads aren't worth fixing.

CC: @charlieyu1996

[2022-04-13 16:01] NimJay commented on #597
After talking to @charlieyu1996 about this issue, we also thought of deleting the "free shipping" message altogether.
Reasons:
1. Removing code is one of the most productive things we can do as developers. Less maintenance for the future.
1. I don't think any demos or tutorials rely on its existence. I did a quick skim of about 5 Google tutorials (see [Google-internal list](url)) that lists some o

[2022-04-13 16:21] charlieyu1996 commented on #597
TLDR: I do agree with Nim here.

For context:
The issue is in shippingservice/quote.go, we call `CreateQuoteFromCount` , which is the legacy logic that uses the number of items from the cart to calculate the shipping fee. Since we changed the logic, the `count` integer is not useful anymore (We can deprecate it or change it to accept a total cart price).

Now, the issue is, the function `GetQuote`

[2022-04-14 21:02] NimJay opened #801 "Improve Usability of Google Cloud Operations Environment Variables"
### Describe the bug
* See https://github.com/GoogleCloudPlatform/microservices-demo/blob/release/v0.3.6/docs/gcp-instrumentation.md.
* A Googler mentioned that they found these environment variables confusion (and thought something was broken):
  * `DISABLE_STATS`
  * `DISABLE_TRACING`
  * `DISABLE_PROFILER`
* They might be confusing because:
   * We're using double negatives. Ideally, the variab

[2022-04-14 21:25] Shabirmean commented on #801
Potential improvement to the fix, [link to the guide](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/gcp-instrumentation.md) in comments.

[2022-04-19 15:24] charlieyu1996 commented on #597
PR merged

[2022-04-19 15:24] #597 closed

[2022-04-20 01:16] mathieu-benoit commented on #662
This new implementation by [upstream Kubernetes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-grpc-liveness-probe) will be ideal indeed.

This feature is at the `alpha` state with Kubernetes 1.23, so it won't be yet adopted on `stable` channel yet with GKE or other managed offer ou there. [1.22 for default in `rapid` as we speak](ht

[2022-04-24 15:40] mathieu-benoit commented on #615
I just tested this scenario where the in-cluster `redis` db is in cluster 1 only and not in cluster 2. And I got the issue described here, JFYI.

[2022-04-25 12:19] TonyChiangUSA opened #810 "build [cartservice] failed: exit status 1. Docker build ran into internal error. Please retry."
` skaffold run` failed on my laptop(MacOS/minikube v1.23.1), how to debug and fix?

[2022-04-26 00:18] ckim328 commented on #810
hi @TonyChiangUSA!
could you provide logs?

[2022-04-26 07:21] TonyChiangUSA commented on #810
No more logs on the console, how to inspect it ?

[2022-04-27 09:41] yogeek opened #811 "adservice in "CrashLoopBackOff" because "java.lang.AbstractMethodError""
### Describe the bug

We deployed this project to our K8S cluster a while ago, and all was fine but today we had an alert because one of the adservice replicas is in `CrashLoopBackOff`
FYI, we added HPAs for each microservice and currently adservice has 3 replicas but only 1 replica is failing.

### Logs

[code]

<details>
<summary>Details</summary>

[code]

</details>

### Screenshots

### Enviro

[2022-04-29 12:17] NimJay commented on #810
@TonyChiangUSA, are you able to provide details about your Mac?
1. Does it use Apple's M1 chip?
2. More specifically, what is the output you see when you run `uname -a`?
3. Also, are you sure your Docker daemon was running (e.g., press `⌘ Cmd` + `Space`, find "Docker", and open Docker before running skaffold)? When I try to use `skaffold` on my Mac without starting up Docker, I get the following e

[2022-05-04 13:45] mathieu-benoit commented on #662
Sharing the good progress of this feature in Kubernetes upstream, with the [1.24 release](https://kubernetes.io/blog/2022/05/03/kubernetes-1-24-release-announcement/):

[2022-05-05 04:29] teja1702 opened #812 "looking for CVE-2021-3918 fix"
Hi Everyone,

I'm currently using GCP Microdemo application in my cluster to perform couple of health checks. And I'm using v0.3.6 images for all services images. I'm performing trivy scanning to identify vulnerabilities. I'm getting CVE-2021-3918 for currency service image and this is related to json-schema.

Any suggestions !!!

[2022-05-05 04:30] teja1702 commented on #812
![image](https://user-images.githubusercontent.com/35130542/166863801-1e2ce172-5aa8-408f-87b9-257f0043c420.png)

[2022-05-05 04:33] teja1702 opened #813 "any fix for CVE-2019-20444 & CVE-2019-20445 for gcp adservice image"
Hi Everyone,

I'm currently using GCP Microdemo application in my cluster to perform couple of health checks. And I'm using v0.3.6 images for all services images. I'm performing trivy scanning to identify vulnerabilities. I have fixed couple of CVEs where [https://github.com/advisories/GHSA-cqqj-4p63-rrmm] & [https://github.com/advisories/GHSA-p2v9-g2qv-p635] I'm unable to figure out fix for adser

[2022-05-05 22:29] NimJay commented on #811
Hi @yogeek,

Thanks for reporting this issue! :)

## Questions

I have some questions:
1. In your logs, I see `2/2` under the `READY` column of each `adservice` Pod. Are you deploying an additional container next to each `adservice` container (e.g., a sidecar proxy container)?
3. Do you have logs from the Pod with the `CrashLoopBackOff` status?
4. Could you please do a `kubectl describe pod your_p

[2022-05-06 09:01] yogeek commented on #811
@NimJay thanks for the help

1. we use istio in this namespace indeed
2. the log from the pods in `CrashLoopBackOff` are in my first message, in a collapsed section called "Details"
3. kubectl describe pod output :

<details>
<summary>k describe po</summary>

[code]

</details>

4. our clusters are multi-tenant (this application is just to provide a "testing" app for us to check if the cluster is

[2022-05-06 14:50] NimJay opened #814 "Tidy Up (and/or Document) `.proto` Files"
### Describe request or inquiry

There are two issues:
1. Code Duplication - We might be able to tidy this up.
2. Inconsistent use of `.protos` - This might be inevitable (because gRPC code generation works differently for the various  languages used by the Online Boutique microservices).

### 1. Code Duplication
* The following files are identical:
  * [/pb/demo.proto](https://github.com/GoogleCl

[2022-05-06 18:51] bourgeoisor commented on #812
Hello, thank you for this finding! We are always on the look-out for all CVEs and aim to prioritize those who are critical to the security and well-being of our sample applications. For that purpose, we've recently enabled Renovate and are in the process of updating dependencies to clear these potential security breaches in our sample application. I will be closing this issue in favour of the all-

[2022-05-06 18:51] #812 closed

[2022-05-06 18:51] bourgeoisor commented on #813
Hello, thank you for this finding! We are always on the look-out for all CVEs and aim to prioritize those who are critical to the security and well-being of our sample applications. For that purpose, we've recently enabled Renovate and are in the process of updating dependencies to clear these potential security breaches in our sample application. I will be closing this issue in favour of the all-

[2022-05-06 18:51] #813 closed

[2022-05-06 19:47] bourgeoisor commented on #538
This is still an issue, but bumping priority down to p3

[2022-05-06 19:48] bourgeoisor commented on #477
Commenting to reset OSLO. This is still something we should look at.

[2022-05-06 19:53] bourgeoisor commented on #614
@NimJay is this issue still active?

[2022-05-06 19:54] bourgeoisor commented on #612
Commenting to reset OSLO. This is still something we should look at.

[2022-05-06 20:03] bourgeoisor commented on #582
Closing this issue has it's been >6 months since the last comment. Feel free to reopen if this is still relevant!

[2022-05-06 20:03] #582 closed

[2022-05-06 21:03] bourgeoisor commented on #599
@NimJay do you think this will be taken care of (or has been taken care of) by the Renovate deps bumps? (https://github.com/GoogleCloudPlatform/microservices-demo/issues/728)

[2022-05-10 13:55] NimJay commented on #614
@bourgeoisor Thanks for bring my attention to this. :)

This ticket is very low priority.
Next time this ticket reaches out-of-SLO, let's definitely close it.
I'll leave it open for now in case someone wants a fun, easy ticket to work on.
Definitely a good beginner ticket — so I've just added the "good first issue" label.
I'll add screenshots (for anyone without access to the Figma prototypes) of

[2022-05-12 10:36] vskevakis opened #822 "setCurrency and checkout failing 100% of requests on Locust"
Running the loadgenerator locally, either on venv or on a docker container (with the Dockerfile provided), all the setCurrency and checkout requests are failing. Checking on frontend webpage, everything works as it should be ( you can change currency and checkout). Same thing on Postman.

I checked the loadgenerator (that runs on my cluster) logs and I saw that everything is normal there too,

###

[2022-05-13 01:04] mathieu-benoit commented on #662
Easy to do even with GKE 1.23 (alpha) like documented here: https://kubernetes.io/blog/2022/05/13/grpc-probes-now-in-beta/ :)

[2022-05-15 04:18] cc4i opened #831 "Run Microservices Demo on Cloud Run"
### Describe request or inquiry
The Microservices Demo should able to run on top of Cloud Run with somewhat changes. Redis would be based on Memory Store.

### What purpose/environment will this feature serve?
Leverage Microservices Demo to demonstrates the power of Serverless.

[2022-05-15 04:20] cc4i commented on #831
Already done some jobs around that, I'd like to contribute with a proper PR if accept the request.

[2022-05-16 09:37] LisnXy opened #832 "ERROR: Could not find a version that satisfies the requirement google-python-cloud-debugger==2.18 (from versions: none)"
### Describe the bug
I want to deploy on my local minicube, but when I run the `skaffold run` command , at the step:
`Step 7/11 : RUN pip install -r requirements.txt`
the output shows:
[code]
I don't know how to handle this as a k8s beginner, and I have tried to use the v0.3.6 but it still doesn't work.
### Environment
- minikube version: v1.25.2
- Docker version 20.10.14
- macOS Monterey 12.3.1
-

[2022-05-18 10:19] tiago-maia opened #834 "Change About Section of the Repo"
### Write down your inquiry
Hey everyone , just a minor detail , currently you have in the about section that the project has 10 microservices but it has 11 , that's all :)

[2022-05-18 12:36] NimJay commented on #831
This is related to https://github.com/GoogleCloudPlatform/microservices-demo/pull/652.

[2022-05-18 12:42] NimJay commented on #831
@grayside do you think https://github.com/GoogleCloudPlatform/cloud-run-samples is a better place for Cloud Run samples using Microservice Demo?

[2022-05-20 13:52] #834 closed

[2022-05-21 09:52] vskevakis commented on #822
A small update. I copied the loadgenerator image, turned off the headless mode so I can access the UI with port-forwarding and pushed it into dockerhub.  I then loaded this image to my deployment and I am able to apply requests directly from the loadgenerator deployment.

I noticed that if I use the internal address (frontend:80) I can use the setCurrency and checkout requests. When I use the exte

[2022-05-23 22:19] bourgeoisor opened #836 "Deprecate the use of Google Cloud Debugger"
Since Cloud Debugger is getting deprecated (doc: https://cloud.google.com/debugger/docs), we should remove it altogether and potentially replace it with Snapshot Debugger (https://github.com/GoogleCloudPlatform/snapshot-debugger)

Cloud Debugger is currently embedded in some services (for example, https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/src/recommendationservice/recomme

[2022-05-24 13:28] ckim328 commented on #836
Snapshot debugger only supports Node.js debug agent in preview mode still, looks like Python3 support will come eventually?

[2022-05-24 14:44] mathieu-benoit opened #837 "Istio TLS origination from `cartservice` to Memorystore (redis) is not working"
Istio TLS origination from `cartservice` to Memorystore (redis) is not working.

Example of a setup of Memorystore (redis) with Istio TLS origination: https://alwaysupalwayson.com/posts/2022/01/istio-tls-origination/.

[2022-05-26 19:34] ckim328 commented on #375
Cool down for OSLO again! I believe @NimJay made some progress on this

[2022-05-27 15:15] ckim328 commented on #622
cooling down out of our oslo, still investigations being done for the use of ARM

[2022-05-27 15:16] ckim328 commented on #617
cooling down from oslo!

[2022-05-27 16:46] #617 closed

[2022-05-28 01:20] mathieu-benoit commented on #615
Actually even with the cleaner and new implementation coming soon (#838) of the `cartservice` interacting with the `redis` database, the issue is still here, I just re-tested with the old and new version of `cartservice`.

And actually, that's not an issue, that's a feature :)

This behavior is due to the implementaton of the SessionId/UserId in the `frontend` app as a Cookie per instance, see her

[2022-05-28 01:30] mathieu-benoit commented on #837
Fixed by #838

[2022-05-28 01:30] #837 closed

[2022-05-28 01:41] mathieu-benoit commented on #810
Hi @TonyChiangUSA, could you please give it a new try with the latest version of the `main` branch and tell us if you still have the issue? `cartservice` just got some improvements in its interaction with the `redis` database.

Could you provide the details asked by @NimJay about your local setup?

For the logs asked by @ckim328, could you run [`skaffold run --tail`](https://skaffold.dev/docs/pipe

[2022-06-07 11:36] mathieu-benoit commented on #650
Thanks for raising this, it's now fixed with the new architecture diagram: https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/img/architecture-diagram.png

[2022-06-07 11:36] #650 closed

[2022-06-07 11:44] mathieu-benoit commented on #1
Could candidate to be tackle in https://github.com/GoogleCloudPlatform/microservices-demo/issues/814 too.

[2022-06-07 11:45] mathieu-benoit commented on #814
Could be great to consider this one in the meantime maybe? https://github.com/GoogleCloudPlatform/microservices-demo/issues/1

[2022-06-07 12:25] mathieu-benoit commented on #599
Hi @zhlsunshine, you could now try with the official `v0.3.8` release: https://github.com/GoogleCloudPlatform/microservices-demo/releases/tag/v0.3.8. We improved `cartservice`’s Redis interaction by utilizing [IDistributedCache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-6.0) (https://github.com/GoogleCloudPlatform/microservices-demo/pull/838)

Tha

[2022-06-07 17:33] mic-max commented on #814
In OpenTelemetry we started a fork and have some work done to remove these duplicate `.proto` files as part of the following PRs:

- https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/118
- https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/117
- https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/116
- https://github.com/open-telemetry/opentelemetry-

[2022-06-07 18:49] NimJay commented on #814
Wow, @mic-max, thank you so much for sharing your work!

I realized that the pull-requests (PRs) contain changes (e.g., changes specific to the [timestamp.proto](https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/main/pb/google/protobuf/timestamp.proto) that's not found in _this_* repo) that are outside the scope of this GitHub issue (#814), so we might have to do some careful sift

[2022-06-08 22:10] JBHua commented on #832
I've encountered the exact same problem using Apple's M1 Chip (Mac Studio). I suspect it is either due to the chip architecture (ARM64) or macOS (see [this reply](https://github.com/GoogleCloudPlatform/cloud-debug-python/issues/20#issuecomment-638978206).)

[2022-06-09 13:59] #776 closed

[2022-06-14 15:01] mathieu-benoit opened #879 "Update Java app `adservice` to `openjdk:17-slim`"
Let's update the Java app `adservice` from `openjdk:8-slim` to `openjdk:17-slim` to get latest and greatest and decrease the amount of CVEs.

Anyone taking this can take inspiration from the great job from this: https://github.com/julianocosta89/opentelemetry-microservices-demo/pull/1/files

[2022-06-15 03:12] mathieu-benoit opened #880 "Update Python apps `emailservice`, `recommendationservice` and `loadgenerator` to `python:3.10-slim`"
Let's update the Python apps `emailservice`, `recommendationservice` and `loadgenerator` from `python:3.7-slim` to `python:3.10-slim` to get latest and greatest and decrease the amount of CVEs.

Anyone taking this can take inspiration from the great job from this: https://github.com/julianocosta89/opentelemetry-microservices-demo/pull/1/files

[2022-06-16 16:58] Shabirmean commented on #645
This issue might not be relavant with the Cloud Debugger sunset being announced as explained in #836

[2022-06-21 17:02] bourgeoisor commented on #570
Closing as a duplicate of https://github.com/GoogleCloudPlatform/microservices-demo/issues/385

[2022-06-21 17:02] #570 closed

[2022-06-21 17:05] bourgeoisor commented on #635
@NimJay do you know if this is intentional design, or a bug?

[2022-06-21 21:16] NimJay commented on #635
Sorry, I'm not too familiar with Jaegar (and logging best practices).

I'm [reading up on spans and traces now](https://www.aspecto.io/blog/jaeger-tracing-the-ultimate-guide/#:~:text=A%20span%20represents%20an%20action%20(HTTP%20request%2C%20call%20to%20a%20DB%2C%20etc)%20and%20is%20Jaeger%E2%80%99s%20most%20basic%20unit%20of%20work.).

If I understand correctly, a "span" would be a single HTTP/gR

[2022-06-21 22:16] bourgeoisor commented on #385
Commenting to reset OSLO-- I'm wondering if this might be fixed alongside https://github.com/GoogleCloudPlatform/microservices-demo/issues/422

[2022-06-22 01:03] braxtonj opened #895 "Running frontend-external fails to connect (Minikube dev)"
### Describe the bug
When building/running version 0.3.8 locally via Minikube, everything runs smoothly until I try and expose the frontend ([Option 2, step 5](https://github.com/GoogleCloudPlatform/microservices-demo/blob/94b886fca225b683855221a9a40865d0b8db33c5/docs/development-guide.md?plain=1#L113)).  Nothing ends up being exposed.  Running `curl --max-time 240 http://192.168.49.2:30840/` ends

[2022-06-23 15:16] bourgeoisor commented on #895
I just tried this. I'm not seeing that RPC error, but I am seeing the timeout.

I've had some luck with running `kubectl port-forward deployment/frontend 8080:8080` and navigating to `localhost:8080` though; could you try that?

[2022-07-09 20:58] parawanderer opened #916 "Error Flood when loading project in Google Cloud Editor"
### Describe the bug
First-time user of the Cloud Platform editor.

I was trying out the Kubernetes service, and accepted a tutorial on the topic in the UI "Google Kubernetes Engine quickstart". This tutorial brought me to the Cloud Platform editor and instructed to clone this repo into the editor. I opened the frontend main.go file and got flooded with error and warning popups, at least 20+.

I a

[2022-07-11 16:51] NimJay commented on #916
Thanks for reporting this issue, @parawanderer!
Thank you — especially — for being so detailed. It helps. :)

## Error 1
The errors from your first screenshot seem unrelated to Online Boutique.
[code]
The reason I think it's unrelated:
* There is no file titled "gcp.go" in this repo.
* Online Boutique doesn't use [PersistentVolumeClaim](https://kubernetes.io/docs/concepts/storage/persistent-volume

[2022-07-11 18:19] parawanderer commented on #916
Ah, the second error seems very obvious now that you point it out. I'd expect behaviour like that from visual studio code running it as the regular application. Thanks for clarifying this @NimJay !

Regarding creating that issue for the first error, I am figuring I should be using the "Create Issue" button on the page you linked. Would you be able to point me to what I should choose in the "Compon

[2022-07-14 15:31] NimJay commented on #675
## Update
Just providing an update to cool this issue down (i.e., remove it from our team's out-of-SLO list):
Though this feature would be ideal, we currently have higher priority issues we should address first such as:
* https://github.com/GoogleCloudPlatform/microservices-demo/issues/536
* https://github.com/GoogleCloudPlatform/microservices-demo/issues/836
* https://github.com/GoogleCloudPlatfo

[2022-07-14 15:55] NimJay commented on #674
## Update (2022 July)
Just adding an update to cool this issue down (i.e., remove it from our team's out-of-SLO list).
No progress updates and this issue it still very low priority.
I wonder if this ticket will be addressed (indirectly) by https://github.com/GoogleCloudPlatform/microservices-demo/issues/422.

[2022-07-18 18:05] NimJay opened #922 "Add integration test(s) for terraform/ to CI"
### Describe request or inquiry
* Add a test (or multiple tests) for https://github.com/GoogleCloudPlatform/microservices-demo/pull/918.

### What purpose/environment will this feature serve?
* This will help us avoid manual testing of changes to the contents of the `terraform/` folder.

[2022-07-19 19:31] NimJay commented on #622
@zwan2, @jxlwqq

GKE (Google Kubernetes Engine) now supports the ability to run containerized workloads using the Arm architecture. :)
These resources might be of interest to you:
1. [YouTube - Run your Arm workloads on GKE!
](https://www.youtube.com/watch?v=LZoy6jpzfqA)
2. [Google Cloud Doc - Arm workloads on GKE](https://cloud.google.com/kubernetes-engine/docs/concepts/arm-on-gke)
3. [Google Clo

[2022-07-19 22:01] minherz commented on #622
@zwan2 , @jxlwqq would you mind to try the tutorial for _deploying_ Online Boutique sample application described in the [official documentation](https://cloud.google.com/service-mesh/docs/onlineboutique-install-kpt)?
Please, let us know if it does not work. Deploying the application does not require building containers.

[2022-07-19 22:01] minherz commented on #832
It seems a duplication of #622

[2022-07-26 13:44] cc4i commented on #831
@NimJay Thanks for pointing out. Idea was came from a PoC, maybe Cloud Run is good place to go if the repo is specific for Anthos/GKE.

[2022-07-26 16:06] NimJay commented on #635
CC: @arbrown (in case you had some thoughts)
More specifically, did you have thoughts about the best practices for organizing spans?
Also, is my understanding correct (from my previous comment)?

[2022-07-26 16:11] NimJay commented on #693
Update to cool down this issue (since this issue is currently in our out-of-SLO list):
* The effort required for resolving this fairly large (many [instances of alpine](https://github.com/search?l=&q=alpine+filename%3ADockerfile+repo%3AGoogleCloudPlatform%2Fmicroservices-demo&type=code) + research required).
* This is not a high priority issue.
* We should focus our engineering efforts towards:

[2022-07-28 14:20] ckim328 opened #930 "CI for triggering a delete of the ns"
### Describe the bug
I had to manually delete some ns of past PRs that were closed, for example #765, #727, even though they were merged/or manually closed. While this is not a super concerning, I would like to keep our resources running at a minimum to avoid incurring more charges.

### To Reproduce
Not sure if it's reproducible, I didn't want to close any PRs. We can try opening fake PR and trig

[2022-08-06 03:23] TonyChiangUSA commented on #810
Hello @mathieu-benoit , sorry for the late, still didn't work but it seems that `recommendationservice` went wrong this time. The error is `build [recommendationservice] failed: exit status 100. Docker build ran into internal error. Please retry.
If this keeps happening, please open an issue..`. As for these questions:

Does it use Apple's M1 chip? - Yes
More specifically, what is the output you s

[2022-08-08 05:44] mathieu-benoit commented on #810
Thanks for this information, reopening this issue.

[2022-08-08 06:41] TonyChiangUSA commented on #810
I cannot confirm that, it seems that building `cartservice ` is canceled due to the failure of building `recommendationservice `. More logs here：
`Step 2/11 : RUN apt-get update -qqy &&  apt-get -qqy install wget g++ &&        rm -rf /var/lib/apt/lists/*
 ---> Running in 2d8801caa162
E: Failed to fetch http://deb.debian.org/debian/pool/main/f/fonts-dejavu/fonts-dejavu-core_2.37-2_all.deb  502  Bad

[2022-08-09 17:14] ahrarmonsur opened #947 "Remove code for Jaeger integration"
### Describe request or inquiry
The repo includes unused code and YAML configs related to Jaeger tracing, which has been replaced by showcasing Google Cloud Operations. As such, Jaeger-related code and documentation should be deprecated and removed.

### What purpose/environment will this feature serve?
Since we now showcase Google CloudOps has our tracing agent, and we don't maintain a Jaeger var

[2022-08-10 20:47] minherz commented on #635
@SapnaGirdhani1 can you please confirm that the trace id for all these entries is the same while the span ids are different?
Looking at the code I see that the OpenCensus framework is currently used to generate tracing logs in `frontend` and `productcatalog` while `currencyservice` uses Cloud Tracing client library. Getting your answer will help render out possible option that the trace id does no

[2022-08-18 08:22] ryuxin opened #957 "is there a http version instead of gRPC?"
Is it possible to replace gRPC with http?

Or any suggested microservice demo which only relies on http for communication?

Thanks a lot

[2022-08-18 20:48] NimJay commented on #957
Great question!
The microservices in [Bank of Anthos](https://github.com/GoogleCloudPlatform/bank-of-anthos/) use HTTP.
Bank of Anthos was actually inspired by developers that had similar requests (i.e., wanted an HTTP-based, non-gRPC sample app) — so it's nice to see validation. Thanks, @ryuxin! 😄

[2022-08-18 20:48] #957 closed

[2022-08-18 20:51] NimJay commented on #957
**Can we replace Online Boutique gRPC with HTTP?**
That would be a large overhaul.
There is no plan to do so — and there likely never will be (since Bank of Anthos exists).

[2022-08-21 15:37] scomri opened #962 "HTTP 500 Internal Server Error - RPC error - currencyservice"
I am fairly new to Kubernetes, therefore having a hard time understanding what is exactly the error and how to resolve it.
Thanks in advance!

### Describe the bug
![image](https://user-images.githubusercontent.com/93886291/185795239-590f60f6-5276-485a-aa71-e9fe747b70a1.png)

### To Reproduce

Simply cloned the repository and ran: `kubectl apply -f ./release/kubernetes-manifests.yaml`
Then tried t

[2022-08-22 15:55] bourgeoisor commented on #696
We'd need to also make sure we're not breaking any existing deployment that uses `latest` (in a post-log4j-cve-world of course). I think we should still do this but would like to chat about it a bit.

[2022-08-22 15:55] bourgeoisor commented on #712
I think we should still do this. Commenting to reset SLO.

[2022-08-22 15:57] bourgeoisor commented on #427
I think we should still do this. Commenting to reset SLO.

[2022-08-22 15:58] bourgeoisor commented on #536
This is still planned, but we are looking into Bank of Anthos first. Commenting to reset SLO.

[2022-08-25 18:52] NimJay commented on #962
Hi @scomri,

Thanks for creating such a clear (detailed) issue! :)

1. If you suspect that the issue is your environment, I suggest trying to deploy an app simpler than Online Boutique. Try deploying [this "Hello, world!" app](https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/tree/main/hello-app). You will need to deploy this [Deployment](https://github.com/GoogleCloudPlatform/kuber

[2022-08-28 09:28] scomri commented on #962
In the end I managed to deploy the application successfully using Istio mesh. Thank you anyways for your comment!!

[2022-08-29 11:03] NimJay commented on #962
Happy to hear that! :)
I'll close this issue then.

[2022-08-29 13:29] smazzone commented on #622
just checking if there are plans to build and publish arm64 images in the default [repo](https://console.cloud.google.com/gcr/images/google-samples/global/microservices-demo/) for people who are willing to run the demo locally (i.e. M1 and docker desktop or similar). Thanks again.

[2022-08-29 17:45] arbrown commented on #635
Traces will be overhauled when we fix #422, and we consolidate traces from OpenCensus/Cloud tracing to be all OTel.

[2022-08-31 02:56] mathieu-benoit commented on #713
Should be fixed by https://github.com/GoogleCloudPlatform/microservices-demo/pull/985

[2022-08-31 12:45] mathieu-benoit commented on #880
Bumped to Python 3.9 with PR #984. Issue with Python 3.10 like explained here: https://github.com/GoogleCloudPlatform/microservices-demo/pull/984#issuecomment-1232344995

[2022-08-31 13:00] mathieu-benoit commented on #947
Any advice from @minherz or @arbrown?

Also, just making sure we have visibility of this, we have 2 issues open regarding Jaeger:
- https://github.com/GoogleCloudPlatform/microservices-demo/issues/385
- https://github.com/GoogleCloudPlatform/microservices-demo/issues/635

[2022-08-31 13:41] mathieu-benoit commented on #645
Closing this issue now, since:
- Since https://github.com/GoogleCloudPlatform/microservices-demo/releases/tag/v0.3.5, we turned off by default this Logging/Debugging environment variables
- The use of Google Cloud Debugger will be deprecated as per https://github.com/GoogleCloudPlatform/microservices-demo/issues/836

In the meantime, if the issue is faced, the proper values for the `--scopes` para

[2022-08-31 13:41] #645 closed

[2022-08-31 14:53] #713 closed

[2022-08-31 15:03] julianocosta89 commented on #422
@mathieu-benoit the Otel community is working on a demo that was based on the hipster shop: https://github.com/open-telemetry/opentelemetry-demo

[2022-08-31 15:06] mathieu-benoit commented on #422
Wow, thanks @julianocosta89, the idea was already to leverage the content you previously shared with us: https://github.com/GoogleCloudPlatform/microservices-demo/issues/422#issuecomment-1026247664. We will now make sure that we are leveraging the latest and greatest from https://github.com/open-telemetry/opentelemetry-demo. Thanks for sharing, much appreciated!
CC: @arbrown and @minherz

[2022-08-31 16:15] mathieu-benoit commented on #836
Is it something you could help with during one of your next rotations @arbrown or @minherz?

[2022-08-31 16:18] mathieu-benoit commented on #879
The OT community bumped it to Java 18: https://github.com/open-telemetry/opentelemetry-demo/tree/main/src/adservice

BOA moved to Java 17: https://github.com/GoogleCloudPlatform/bank-of-anthos/pull/712

Just sharing.

[2022-08-31 16:47] mathieu-benoit commented on #810
Thanks for confirming @TonyChiangUSA. This issue is due to the fact that we don't support yet Arm64 platform. We are tracking this issue/feature request in there https://github.com/GoogleCloudPlatform/microservices-demo/issues/622.

To avoid any duplication, I'm closing this issue, but will make sure there is a reference to the one I mentioned earlier to make more evidence. Thanks for reporting th

[2022-08-31 16:47] #810 closed

[2022-08-31 16:47] mathieu-benoit commented on #622
One more evidence we need to support this: https://github.com/GoogleCloudPlatform/microservices-demo/issues/810

[2022-08-31 16:52] mathieu-benoit commented on #832
Thanks for reporting the issue @LisnXy and thanks for confirming @JBHua.

This issue is due to the fact that we don't support yet Arm64 platform. We are tracking this issue/feature request in there https://github.com/GoogleCloudPlatform/microservices-demo/issues/622.

To avoid any duplication, I'm closing this issue, but will make sure there is a reference to this one from the one I mentioned earl

[2022-08-31 16:52] #832 closed

[2022-08-31 16:53] mathieu-benoit commented on #622
Another evidence here: https://github.com/GoogleCloudPlatform/microservices-demo/issues/832

[2022-08-31 23:01] mathieu-benoit commented on #879
Fixed by https://github.com/GoogleCloudPlatform/microservices-demo/pull/1007, with `openjdk:18` actually.

[2022-09-01 12:24] #879 closed

[2022-09-01 20:54] mathieu-benoit commented on #761
Fixed by https://github.com/GoogleCloudPlatform/microservices-demo/pull/885 with explanation there.

[2022-09-01 20:54] #761 closed

[2022-09-03 00:52] #615 closed

[2022-09-03 00:54] mathieu-benoit commented on #615
These 2 PRS https://github.com/GoogleCloudPlatform/microservices-demo/pull/838 and https://github.com/GoogleCloudPlatform/microservices-demo/pull/1023 allow to support this scenario now.

[2022-09-11 07:40] sharmadhiraj86 commented on #916
Can you assign this issue to me as I want to conrtibute to this project?? @NimJay @parawanderer @proppy @olegshaldybin @dazuma And if not, can you help me getting some first issues to work on as I want to contribute to open source cloud projects?

[2022-09-11 16:21] Iceforestik opened #1042 "HTTP Status: 500 Internal Server Error rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp: lookup currencyservice on 10.96.0.10:53: read udp 10.244.43.6:45880->10.96.0.10:53: i/o timeout""
Hello, I get this error, all the pods are working except adservice
![изображение](https://user-images.githubusercontent.com/47591939/189538014-1673e0bd-7790-42b0-9b44-0369ec9995c7.png)
ingress
[code]
pods and svc,ingress

![изображение](https://user-images.githubusercontent.com/47591939/189538172-28c8f7ee-329f-41a6-a1fd-6828f752932c.png)

how to solve it?

[2022-09-12 10:29] ahrarmonsur commented on #1042
@NimJay please advise, thank you.

[2022-09-12 10:39] ahrarmonsur commented on #635
@SapnaGirdhani1 requesting more information to help us resolve the issue for you.

Additionally, bringing visibility to an initiative under consideration to remove Jaeger from `microservices-demo` repo in favor of showcasing Google Cloud Operations.
https://github.com/GoogleCloudPlatform/microservices-demo/issues/947

[2022-09-12 14:33] NimJay commented on #916
First off, @sharmadhiraj86, thank you for your interest in contributing! :)
This specific issue might not be a good beginner issue since the ideal solution might need to take place in Cloud Shell Editor (closed source Google software).
But you've inspired me to label a few relatively easy GitHub issues in this repo with the ["good first issue" label](https://github.com/GoogleCloudPlatform/microser

[2022-09-13 15:26] ezelanza opened #1044 "Error while running skaffold run locally in an Intel NUC"
go: golang.org/x/text@v0.3.7: read "https:/proxy.golang.org/@v/v0.3.7.zip": read tcp 172.17.0.3:48042->142.251.41.81:443: read: connection reset by peer
The command '/bin/sh -c go mod download' returned a non-zero code: 1
Building [currencyservice]...
Target platforms: [linux/amd64]
Build [currencyservice] was canceled
Building [checkoutservice]...
Target platforms: [linux/amd64]
Build [checkoutse

[2022-09-13 15:58] #1044 closed

[2022-09-14 10:09] bpastiu opened #1047 "Readiness and liveness probes failing on local cluster"
Hi there and thanks a lot for this project. I am trying to deploy this project using Tilt (https://tilt.dev/) for local development. The pods go up but they start failing almost immediately due to liveness and readiness probes failure.
I am using docker-desktop on mac arm 64. I built the images using the --platform flag for `linux/amd64`

Not sure if this is something related to my setup or otherw

[2022-09-14 11:22] v-bpastiu commented on #1047
Disregard that. I got it to work after messing around with the grpc_health_probe connect timeouts. Made them bigger than 1s and apparently it worked.

[2022-09-14 14:15] NimJay commented on #1042
Hi @Iceforestik,
Thank you reporting this issue!
1. I see that you are using an `Ingress` object (and I assume a `Service` that _not_ of `type: LoadBalancer`). In other words, you've modified the default [`kubernetes-manifests`](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/release/kubernetes-manifests.yaml) of Online Boutique. Could you please share all modifications you've

[2022-09-14 14:18] NimJay commented on #1047
Glad you were able to find a workaround. I will close this issue.

[2022-09-14 14:18] #1047 closed

[2022-09-14 17:25] Iceforestik commented on #1042
Hi @NimJay
thank you for your interest in my question
it turned out to be my mistake, I had problems with calico bgp +  I had to rewrite two samples from currencyservice + fix my firewall( opened several important ports) the most interesting thing is that after that, adservice earned
[code]

[2022-09-14 17:25] #1042 closed

[2022-09-16 17:17] #712 closed

[2022-09-16 17:19] bourgeoisor commented on #536
@NimJay with https://github.com/GoogleCloudPlatform/microservices-demo/tree/main/kustomize having merged upstream, could you describe what is left to be done for this issue -- for example a list of pending action items?

[2022-09-21 15:07] NimJay opened #1079 "Terraform's `kubectl wait --for=condition=ready pods ...` hangs"
### Describe the bug
* According to this [Google-internal Doc](https://docs.google.com/document/d/1r-1osqq1PYUq6O9IMj1Y_J2Z3ivrn6d1wXE4HbHsops/edit#), Online Boutique's default Terraform (in [/main/terraform](https://github.com/GoogleCloudPlatform/microservices-demo/tree/main/terraform)) sometimes hangs.
* More specifically, it's the ["kubectl wait" condition inside main.tf](https://github.com/Goo

[2022-09-21 15:16] NimJay commented on #1079
tpryan@
Is my assumption correct: you witnessed this issue when Cloud Build tried running [this line](https://github.com/tpryan/microservices-demo/blob/88d6e80a8d571eeef68a6a9528c4dbfa64e9d59d/test#L75)?

[2022-09-21 16:37] tpryan commented on #1079
Yes. But it also occurred during manual tests - ie calling terraform directly, and not in the test script.

[2022-09-21 16:46] tpryan commented on #1079
It's intermittent. And I can't tell what variables are changing. I have a build job that runs it every night. So in theory I will get logs for you to sift through eventually. :)

[2022-09-21 21:48] NimJay commented on #536
Thanks for bringing this up, Olivier.
I believe there's a few things we need to do:
1. Add automation inside of the existing release automation ([`/hack/make-release-artifacts.sh`](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/hack/make-release-artifacts.sh#L63)) to generate the `/kustomize/base/` folder. More details can be found in [this comment](https://github.com/GoogleCl

[2022-09-27 13:43] mathieu-benoit commented on #635
FYI: Jaeger support will be removed by #1088.

[2022-09-27 13:54] mathieu-benoit commented on #811
With the recent changes on the `adservice` (base image, gradle, etc.) it would be ideal to retest this with the coming version 0.3.10 of Online Boutique.

[2022-09-27 14:02] mathieu-benoit commented on #822
Hi @vskevakis, sorry for the delay on this, but just to make sure, are you running the apps locally with Docker? Or on your local Kubernetes cluster with Kind/Minikube?

Also, could you confirm that it is working on your Kubernetes environment on Google Cloud? Is it on GKE?

Also, could you share the logs of the application in errors please?

Thanks!

[2022-09-28 01:52] chenhy97 commented on #622
need the ARM architecture supports!

[2022-10-03 13:08] mathieu-benoit commented on #811
Closing this issue as we are not able to reproduce it and it would be great to get an update with a recent version of Online Boutique/`adservice`. But please feel free to re-open it if you still have the errors with lastest version of `adservice` 0.3.10, and ideally with the coming 0.3.11.

[2022-10-03 13:08] #811 closed

[2022-10-03 13:09] mathieu-benoit commented on #947
Closing this one as Jaeger has been removed from the project: https://github.com/GoogleCloudPlatform/microservices-demo/pull/1088, coming in 0.3.11.

[2022-10-03 13:09] #947 closed

[2022-10-03 13:20] #922 closed

[2022-10-03 13:22] mathieu-benoit commented on #831
Hi @NimJay, what do we want to do with this one? Closing and maybe documenting on the main `README.md` where end users can find the branches/repos with the support of Cloud Run?

[2022-10-03 14:02] mathieu-benoit commented on #722
Hi @ksingh7, sorry for the delay on this.

Just curious, how do you deploy the Online Boutique apps? With the manifests in `release/` folder?

Could you confirm that you have removed the `DISABLE_STATS` and `DISABLE_TRACING` environment variable in the `adservice`'s `Deployment` manifest?

[2022-10-03 14:04] mathieu-benoit commented on #591
It would be ideal to review the CPU/Memory requests to see if we could review the minimum of 4 nodes for GKE in order to get Online Boutique deployed.

[2022-10-03 14:11] mathieu-benoit commented on #385
Closing this one as Jaeger has been removed from the project: https://github.com/GoogleCloudPlatform/microservices-demo/pull/1088, coming in 0.3.10.

[2022-10-03 14:11] mathieu-benoit commented on #635
Closing this one as Jaeger has been removed from the project: https://github.com/GoogleCloudPlatform/microservices-demo/pull/1088, coming in 0.3.10.

[2022-10-03 14:11] #635 closed

[2022-10-03 14:14] mathieu-benoit commented on #536
Closing this one as Kustomize is now officially documented and supported here: https://github.com/GoogleCloudPlatform/microservices-demo/tree/main/kustomize.

Let's add more variations/overlays by directly opening associated and specific PRs.

[2022-10-03 14:14] #536 closed

[2022-10-03 18:12] NimJay commented on #831
@mathieu-benoit that sounds like a good compromise for now.

[2022-10-05 22:35] minherz commented on #801
@Shabirmean the provided link is not working. The file `gcp-instrumentation.md` is missing in the `main` branch.

[2022-10-06 13:13] NimJay commented on #801
**Update:**
We might be able to address this issue when we bring in OpenTelemtry support.
CC: @arbrown

[2022-10-06 19:28] NimJay commented on #797
**Update**
There is now a Google Doc for Googlers ([go/online-boutique-contribute](https://docs.google.com/document/d/1sBq1Ga8rE_M-lNRIlY2TEDv04NMp66QOIZ9bURLPtdQ/edit?usp=sharing)), but go/online-boutique-contribute does not help non-Googlers and doesn't contain guidances around pull-request, so let's keep this issue open.
We will see how this issue fits into the 2023 plan for Online Boutique.

[2022-10-13 22:13] ameer00 opened #1165 "make `recommendation` service optional like `ad`"
We would like to showcase that in microservices, not all services are created equal. For example services like ad and recommentaion can be run on cheaper cloud infra (for cost savings for example) and even if/when they go down, the rest of the application presses on without issues.

We would like to highlight various architecture patterns where some applications are critical and require highly rel

[2022-10-13 22:14] ameer00 opened #1166 "Error pages still show `Online Boutique` in the top banner"
I am using the Cymbal Store logo. The error pages still show the Online Boutique banner at the top. The rest of the pages are good to go.

[2022-10-18 08:48] ravitejasssihl commented on #1166
HAi @ameer00 @NimJay  would you like to assign me this issue?

[2022-10-18 12:31] NimJay commented on #1166
ravitejasssihl@, thank you for your interest! I've assigned it to you. :)

[2022-10-18 13:43] ravitejasssihl commented on #1166
@NimJay Thanks for assigning me,Can we have a brief Google-Meet tonight regarding this,Its both important and I will do it Quickly as this bug Fixing will come under my collage project.
You Decide the Time and mail me at raviteja.sssihl@gamil.com

[2022-10-18 17:05] ravitejasssihl commented on #1166
@NimJay Can you please tell in which all files I should make this change?

[2022-10-19 11:20] ravitejasssihl commented on #1166
Hai @ameer00 can you please clarify me what exactly do you mean by error pages,and also can you send me the Cymbal Store logo..I can fix this as early as possible.I have mentioned my gmail  : raviteja.sssihl@gmail.com ,can we contact there?
In addition @NimJay I have made a typo error in my earlier mail address now I have edited it.
This work comes under my collage academic mini project please kin

[2022-10-19 13:35] NimJay commented on #1166
Hi @ravitejasssihl, :)

Sorry for not getting back yesterday!
The fix can be found in #1186.
If you can replicate the pull-request above (#1186), I can merge _your_ pull-request instead of #1186.
Otherwise, I'll be merging #1186 in a few hours (assuming it's been approved by someone on my team) — since this is a "P1" priority issue.

Hope this helps. Thanks!

[2022-10-20 09:45] scomri commented on #962
Hi @NimJay

Nowadays I'm trying to deploy the app without Istio. Is there a way to solve the initial error?

Adding the pods and services states in the cluster:

**kubectl get pods**
NAME                                     READY   STATUS    RESTARTS   AGE
adservice-7dc899d57f-9qpdk               1/1     Running   0          150m
cartservice-6dbfb7f57-2bdld              1/1     Running   0

[2022-10-21 04:57] ravitejasssihl commented on #1166
@bourgeoisor @NimJay Sorry for late reply ,I have been working on the issue,It has been solve I put up a pull request could you please look into it.

[2022-10-21 13:04] NimJay commented on #1166
Hi @ravitejasssihl,
We've already merged a fix (2 days ago) via https://github.com/GoogleCloudPlatform/microservices-demo/pull/1186.
But thank you again for your interest in contributing!
I have closed your pull-request.

[2022-10-21 17:47] LukeSchlangen opened #1195 "Broken Link in Workload Identity"
### Describe the bug

Workload Identity link leads to `404`

### To Reproduce

1. https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/development-guide.md#option-1-google-kubernetes-engine-gke

2. Click link that says [see these instructions](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/workload-identity.md)

3. You will be redirected to a `404` pag

[2022-10-21 18:37] mathieu-benoit commented on #1195
Good catch @LukeSchlangen, thanks for reporting the issue. We indeed simplify that part in this repo by just targeting the official WI setup page.

Note: To anyone who would like to fix that, the link should land there: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable,

[2022-10-23 15:35] #1195 closed

[2022-10-23 17:05] mathieu-benoit opened #1203 "Review the Service Mesh doc"
The current Service Mesh doc https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/service-mesh.md is outdated and misleading.

Could we have something up-to-date an dmore presecriptive?

For example:
1. Setup with Istio
2. Setup with ASM
3. Deployment of an Ingress Gateway
4. Deploy OB with `istio-manifests`

For 1., maybe showing this snippet:
[code]

For 2., maybe showing thi

[2022-10-24 12:15] NimJay commented on #962
I'm going to reopen this issue so it's visible to the rest of my team.

[2022-10-24 12:19] NimJay commented on #962
@scomri,

1. Which version of (e.g., are you using a specific `release/vX.Y.Z` branch or tag? are you using a fairly recent commit of the `main` branch)?
2. Are you still receiving the exact same error from your original description in this issue:
In other words, are you seeing the following in your `currencyservice` logs:
[code]
It's strange because your `kubectl get pods` output suggests that al

[2022-11-01 01:55] eti-tme-tim commented on #836
Can we ensure that the cloud debugger replacement also has corresponding aarch64 support?

[2022-11-01 10:59] naoki9911 opened #1221 "Online Boutique does not work on IPv6 single stack kubernetes cluster"
### Describe the bug
The Online Boutique page shows Internal Server Error.
Online Boutique is deployed to IPv6 single stack cluster.

### To Reproduce

1. Create IPv6 single stack cluster with Calico.
2. Deploy [Online Boutique](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/release/kubernetes-manifests.yaml) and enable port-forwaring.
3. Access to the deployed service and the

[2022-11-02 18:04] mathieu-benoit commented on #1221
Out of curiosity @naoki9911, what could be the recommendation for the 3 statements you highlighted with `0.0.0.0`?

- Do you think we could replace this value by `[::]` to be generic for both ipv4 and ipv6?
- Or we should update the code with kind of a `if ipv4 do `0.0.0.0` else `[::]`?

Would love to hear your insights regarding this, thanks in advance!

[2022-11-03 08:30] naoki9911 commented on #1221
Thanks for your replys!

Do you know if this a false assumption?

I completely agree with you. I think IPv6 single-stack cluster is very unusual, too.
I tried IPv6 single-stack for my experiments and I'm not in a hurry at all about this issue.

This issue just intends to inform you that some services are not supporting IPv6 :)
If you don't mind, I hope this issue is opened until services completel

[2022-11-03 14:33] mathieu-benoit commented on #662
Since [0.4.1](https://github.com/GoogleCloudPlatform/microservices-demo/releases/tag/v0.4.1) it's now an optional Online Boutique variation (i.e. a Kustomize overlay) you could leverage. See associated blog article illustrating this: https://medium.com/google-cloud/b5bd26253a4c.

[2022-11-03 14:41] NimJay commented on #801
Thank you, @arbrown, for the progress you've made on this so far! :)

Just leaving a screenshot of what's leftover as an update:

<img width="496" alt="Screen Shot 2022-11-03 at 10 40 45 AM" src="https://user-images.githubusercontent.com/10292865/199751426-88295dfd-3f59-45c2-a60e-5bb41a80585a.png">

[2022-11-03 14:48] mathieu-benoit opened #1231 "`redis` as a `StatefulSet` with `PersistenVolume`"
Today, the [in-cluster `redis` database is a `Deployment`](https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/kubernetes-manifests/redis.yaml#L16), as a best practice for such in-cluster scenario it would be great to have it as `StatefulSet` with a `PersistentVolume`. Maybe with Filestore like illustrated here? Or maybe another storage? That will also illustrate yet another great

[2022-11-04 15:01] NimJay commented on #1231
This is a great idea, and a good point of collaboration for myself and the GKE DPEs.

**My initial thoughts:**
- Should `Redis` be used here or should we use another (e.g., MySQL or PostgreSQL) database (that's more commonly tied to StatefulSets)? More specifically, how common is it to tie a StatefulSet with Redis?
- Yes, as @mathieu-benoit suggested, I don't think StatefulSets should be used by O

[2022-11-07 15:49] NimJay opened #1246 ""redis-cart" not found in pull-request CI"
### Describe the bug
* CI is failing for some pull-requests due to the following error:
[code]

### Pull-requests with error
* https://github.com/GoogleCloudPlatform/microservices-demo/pull/1243
* https://github.com/GoogleCloudPlatform/microservices-demo/pull/1244
* https://github.com/GoogleCloudPlatform/microservices-demo/pull/1245
* https://github.com/GoogleCloudPlatform/microservices-demo/pull/

[2022-11-07 15:53] NimJay commented on #1246
More specifically, the following line is failing:
https://github.com/GoogleCloudPlatform/microservices-demo/blob/release/v0.4.1/.github/workflows/ci-pr.yaml#L94

[2022-11-07 16:02] NimJay commented on #1246
I'm looking at the namespaces (inside the `online-boutique-prs` GKE cluster) for 3 of the affected pull-requests.
In each PR, only the `loadgenerator` is running as a workload.
I suspect this is related to `skaffold`.

![Screen Shot 2022-11-07 at 10 59 55 AM](https://user-images.githubusercontent.com/10292865/200356321-c5f56bfa-2102-429d-a926-f118f5e09135.png)

[2022-11-07 17:46] NimJay commented on #1246
I suspect that the `online-boutique-prs` GKE cluster might be overworked.
I had to manually remove Online Boutique Deployments (and other K8s resources) from namespaces of pull-requests that have been closed/merged:
[code]
I wonder if this was the cause of the problem.

[2022-11-07 22:42] NimJay commented on #1246
This has been fixed! https://github.com/GoogleCloudPlatform/microservices-demo/pull/1247

[2022-11-07 22:42] #1246 closed

[2022-11-09 22:23] NimJay opened #1260 "Support product retrieval/definition via database, in `productcatalogservice`"
### Describe request or inquiry
* This was requested by @LukeSchlangen and @moficodes. (Mofi, Luke, please provide any more details that I might have missed.)
* Currently, the Online Boutique's products are defined inside a [`products.json`](https://github.com/GoogleCloudPlatform/microservices-demo/blob/7741562421ad61ad1d30cebf39e21587a8377952/src/productcatalogservice/products.json) file inside t

[2022-11-09 22:28] NimJay commented on #1260
@LukeSchlangen and @moficodes,
First off, thank you so much for the heads-up on this project!
I think it would be really cool to showcase data being shared between multiple microservice-based apps.

Since this is a fairly complex project, I ask that you create a **short** Google Doc detailing the context, changes to be made to Online Boutique, and any support that you would need from our team. My

[2022-11-10 02:31] LukeSchlangen commented on #1260
Definitely! Do you have the original diagram for this image available in an editable format somewhere?
https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/img/architecture-diagram.png

I think we can communicate our idea most clearly by adding three boxes to this diagram.

[2022-11-10 16:54] LukeSchlangen commented on #1260
The Back Office Application would be a standalone application that would be an optional integration (like the redis database). Here is the general idea for integrating:

![Back Office Application to Microservices Demo](https://user-images.githubusercontent.com/5384581/201157373-f9a1e7ee-5e73-4afd-ad82-49a8d22c6922.png)

[2022-11-12 00:07] NimJay commented on #1260
Yes! :)
See [Google Slides here](https://docs.google.com/presentation/d/12803GBApC8unpd8cmp4BOkk9dTPV4OOtihhIJHa8m28/edit#slide=id.p).

[2022-11-15 18:01] NimJay opened #1265 "Support easy use of non-default VPC in Terraform"
### Describe request or inquiry
* Our Terraform needs to be easy to use for anyone who doesn't want to use the `default` GCP [VPC (Virtual Private Cloud)](https://cloud.google.com/vpc/docs/vpc).

### Option 1
* We could use the Terraform [`google_container_clusters`'s `network` argument](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster) to configure

[2022-11-16 12:40] scomri commented on #962
I am still not sure what was the problem,
but now I'm using that latest release to this date and everything is working fine.

Seems like the error I posted here in the first time is about some timeout that occurred because of something (that I don't know what it could be).

[2022-11-18 08:23] gamunu opened #1274 "The log level of the currency service contains an invalid value"
### Describe the bug
The log level of the currency service contains an invalid value (a number). This should contain values INFO, DEBUG...

### To Reproduce

deploy the application on any k8s cluster

currencyservice:v0.4.1

### Logs
[code]

### Screenshots

<img width="993" alt="Screenshot 2022-11-18 at 13 50 59" src="https://user-images.githubusercontent.com/4501687/202655491-e460fc3d-b1a8-490e-

[2022-11-21 15:15] xtineskim commented on #836
we can try to look into it! for now docs are showing that Cloud debugger will be deprecated May 31, 2023
(https://cloud.google.com/debugger/docs/deprecations)

[2022-11-21 15:38] xtineskim commented on #822
seeing that the above info is in the initial comment - any help needed with this @NimJay ? (also just cooling down from our SLO!)

[2022-11-21 15:44] NimJay commented on #836
Thanks, @xtineskim, for pointing out that the `Snapshot Debugger` will [lose support after Aug 31, 2023](https://github.com/GoogleCloudPlatform/snapshot-debugger#support-period):

In that case, I don't think we should use Snapshot Debugger at all.

We should still remove all instances (inside Online Boutique) of Cloud Debugger being used.

[2022-11-21 19:19] xtineskim opened #1282 "Update to node v19 for currency and payment service"
### Describe the bug
Recently closed the renovate bot's pr for updating the currency and payment service to use node v19.0.0.
CI wasn't passing, as it requires much more effort than changing.
https://github.com/GoogleCloudPlatform/microservices-demo/pull/1185

### To Reproduce
n/a

### Logs
n/a

### Screenshots
n/a

### Environment

### Additional context
https://github.com/GoogleCloudPlatform/mic

[2022-11-21 20:05] #1282 closed

[2022-11-23 15:29] NimJay commented on #962
Thanks for the update.
I'll close this since "everything is working fine".

[2022-11-23 15:29] #962 closed

[2022-11-24 16:06] NimJay commented on #822
Hi vskevakis@,

In this GitHub issue, we are not running the `loadgenerator` inside the same Kubernetes cluster (as the rest of the Online Boutique service).
Unfortunately, running the `loadgenerator` _**outside**_ the Kubernetes cluster (that Online Boutique is deployed to) is not a use case we currently have the bandwidth to support. :( Sorry.

Please feel free to re-open this GitHub issue if I

[2022-11-24 16:06] #822 closed

[2022-11-24 18:27] NimJay opened #1299 "Investigate Sigstore support"
* [Sigstore](https://www.sigstore.dev/how-it-works) is a standard that defines a set of technologies/tools that developers can use to "sign" the artifacts they build.
* Online Boutique could use Sigstore to sign the container images published to the public (e.g., `gcr.io/google-samples/emailservice:v0.5.0`).
* Users of Online Boutique can then verify that the container images that they `pull` have

[2022-11-25 17:09] #614 closed

[2022-11-28 14:56] #797 closed

[2022-11-29 13:31] #836 closed

[2022-11-29 13:41] mathieu-benoit commented on #538
Now that https://github.com/GoogleCloudPlatform/microservices-demo/pull/1281 is merged into the `main` branch we could close this issue. Cloud Debugger is now removed from this project.

[2022-11-29 13:41] #538 closed

[2022-11-29 13:50] mathieu-benoit commented on #831
Thanks @michaelact, @xiangshen-dk and @cc4i for your contributions. Like disussed, even if having Online Boutique in Cloud Run is a very good idea, we want to keep this repository specific to Kubernetes for now.

If anyone is interested in this, here are some implementations made about that for reference:
- https://github.com/GoogleCloudPlatform/community/pull/2238
- https://github.com/GoogleCloud

[2022-11-29 13:50] #831 closed

[2022-11-29 18:10] NimJay opened #1319 "Investigate Helm integration"
* About 49% of effective organizations that use Kubernetes use [Helm](https://helm.sh/) ([Google-internal source](https://drive.google.com/file/d/16cKqaO4SIV14GULygQFiN2JPQ1rM1QPc/view?resourcekey=0-a-tUFsdjsi3iiaPkMWSkAg)).
* Part of the Online Boutique's purpose is to demonstrate tools and technologies commonly used alongside the above products.
* This makes it clear that there's a lot of value

[2022-11-30 22:07] mathieu-benoit commented on #880
Done https://github.com/GoogleCloudPlatform/microservices-demo/pull/1316

[2022-11-30 22:07] #880 closed

[2022-11-30 22:55] donmccasland commented on #477
Commenting to reset OSLO.  @NimJay Please close if we're not going to work on this.

[2022-11-30 22:57] donmccasland commented on #612
Nim, if we're not going to work on this before EOY, can we go ahead and close?

[2022-11-30 23:01] arbrown commented on #422
As an update:

As of #1180, we have a kustomize module for deploying the OpenTelemetry Collector and turning on distributed tracing in the microservices. Expect basic support for custom metrics and managed Prometheus this year.